In [17]:
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
import lxml.html

In [23]:
url = 'https://www.op.gg/summoner/champions/userName=hide+on+bush'

In [24]:
html = urlopen(url)
bsObject = BeautifulSoup(html, 'html.parser')
# select = soup.head.find_all('div')

# for div in select:
#     print(div.get('content'))

for div in bsObject.find_all('table'):
    print(div.get('class'))
# print(bsObject)

['ChampionStatsTable', 'sortable']

In [60]:
columns = bsObject.select('div > table > thead > tr > th')
columnlist = []

for col in columns:
    columnlist.append(col.text)
    
df = pd.DataFrame(columns=columnlist)
df.head()

Empty DataFrame
Columns: [#, Champion, Played, KDA, Gold, CS, Max Kills, Max Deaths, Average Damage Dealt, Average Damage Taken, Double Kill, Triple Kill, Quadra Kill, Penta Kill]
Index: []

In [61]:
contents = bsObject.select('div > table > tbody > tr')

dfcontent = []
alldfcontents = []

for con in contents:
    tds = con.find_all('td')
    del tds[1]
    
    for td in tds:
        text = td.text
#         print(text)
        text = text.replace('\n', '')
#         print(text)
        text = text.replace('\t', '')
#         print(text)
        dfcontent.append(text)
        
    ser = pd.Series(dfcontent, index=columnlist)
    df = df.append(ser, ignore_index=True)
    
    dfcontent = []
    
# df = pd.DataFrame()
# df = df.append(alldfcontents)
df.head()

,#,Champion,Played,KDA,Gold,CS,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill
0,1,Sett,45W20L69%,4.7 /2.9 /6.53.91:1,"10,872",190.9 (7.4),13,7,"114,469","24,264",29,3,,
1,2,LeBlanc,35W23L60%,6.6 /3.0 /6.24.23:1,"10,982",195.8 (7.6),22,7,"105,055","17,776",38,7,,
2,3,Zoe,25W26L49%,5.9 /3.0 /6.84.24:1,"11,539",208.3 (7.8),19,8,"133,887","13,612",24,2,1,
3,4,Sylas,22W29L43%,5.6 /4.6 /6.32.61:1,"11,686",209.4 (7.6),16,11,"130,182","27,001",26,4,1,
4,5,Lucian,26W17L60%,5.0 /3.8 /5.12.67:1,"11,557",227.3 (8.7),13,8,"144,787","16,240",21,2,1,

In [58]:
text

''

In [57]:
df.tail()

,#,Champion,Played,KDA,Gold,CS,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill
75,76,\nGnar\n,\n\n\n\n1L\n\n0%\n\n,\n\n3.0 /\n\t\t\t\t\t\t6.0 /\n\t\t\t\t\t\t1.0\...,"\n\t\t\t\t\t7,457\n\t\t\t\t",\n\t\t\t\t\t161.0 (8.0)\n\t\t\t\t,\n\t\t\t\t\t\t3\n\t\t\t\t\t,\n\t\t\t\t\t\t6\n\t\t\t\t\t,"\n\t\t\t\t\t\t79,986\n\t\t\t\t\t","\n\t\t\t\t\t\t15,696\n\t\t\t\t\t",\n,\n,\n,\n
76,77,\nBlitzcrank\n,\n\n\n\n1L\n\n0%\n\n,\n\n3.0 /\n\t\t\t\t\t\t5.0 /\n\t\t\t\t\t\t8.0\...,"\n\t\t\t\t\t8,585\n\t\t\t\t",\n\t\t\t\t\t41.0 (1.1)\n\t\t\t\t,\n\t\t\t\t\t\t3\n\t\t\t\t\t,\n\t\t\t\t\t\t5\n\t\t\t\t\t,"\n\t\t\t\t\t\t24,837\n\t\t\t\t\t","\n\t\t\t\t\t\t23,456\n\t\t\t\t\t",\n,\n,\n,\n
77,78,\nElise\n,\n\n\n\n1L\n\n0%\n\n,\n\n5.0 /\n\t\t\t\t\t\t3.0 /\n\t\t\t\t\t\t9.0\...,"\n\t\t\t\t\t11,113\n\t\t\t\t",\n\t\t\t\t\t170.0 (6.5)\n\t\t\t\t,\n\t\t\t\t\t\t5\n\t\t\t\t\t,\n\t\t\t\t\t\t3\n\t\t\t\t\t,"\n\t\t\t\t\t\t168,025\n\t\t\t\t\t","\n\t\t\t\t\t\t18,174\n\t\t\t\t\t",\n,\n,\n,\n
78,79,\nRengar\n,\n\n\n\n1L\n\n0%\n\n,\n\n6.0 /\n\t\t\t\t\t\t7.0 /\n\t\t\t\t\t\t5.0\...,"\n\t\t\t\t\t10,371\n\t\t\t\t",\n\t\t\t\t\t148.0 (4.9)\n\t\t\t\t,\n\t\t\t\t\t\t6\n\t\t\t\t\t,\n\t\t\t\t\t\t7\n\t\t\t\t\t,"\n\t\t\t\t\t\t145,469\n\t\t\t\t\t","\n\t\t\t\t\t\t33,631\n\t\t\t\t\t",\n\t\t\t\t\t\t\t\t\t\t\t\t\t1\n\t\t\t\t\t\t\t\...,\n,\n,\n
79,80,\nOlaf\n,\n\n\n\n1L\n\n0%\n\n,\n\n8.0 /\n\t\t\t\t\t\t5.0 /\n\t\t\t\t\t\t5.0\...,"\n\t\t\t\t\t11,929\n\t\t\t\t",\n\t\t\t\t\t167.0 (6.2)\n\t\t\t\t,\n\t\t\t\t\t\t8\n\t\t\t\t\t,\n\t\t\t\t\t\t5\n\t\t\t\t\t,"\n\t\t\t\t\t\t168,421\n\t\t\t\t\t","\n\t\t\t\t\t\t29,587\n\t\t\t\t\t",\n\t\t\t\t\t\t\t\t\t\t\t\t\t2\n\t\t\t\t\t\t\t\...,\n,\n,\n