In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import time
import datetime

In [3]:
## 한글 폰트
import matplotlib.font_manager as fm
import matplotlib as mpl

font_list = fm.findSystemFonts(fontpaths=None, fontext='ttf')

for font in font_list:
    if 'Nanum' in font:
        print(font)
        
print()
print(mpl.matplotlib_fname())

plt.rcParams["font.family"] = 'NanumGothic'

## 마이너스 부호
mpl.rcParams['axes.unicode_minus'] = False

/Library/Fonts/NanumSquareRegular.ttf
/Library/Fonts/NanumMyeongjoExtraBold.ttf
/Library/Fonts/NanumSquareExtraBold.ttf
/Library/Fonts/NanumGothicLight.ttf
/Library/Fonts/NanumBarunpenBold.ttf
/Library/Fonts/NanumSquareRoundB.ttf
/Library/Fonts/NanumGothicExtraBold.ttf
/Library/Fonts/NanumBarunGothicBold.ttf
/System/Library/AssetsV2/com_apple_MobileAsset_Font6/ee9e9584cd1a5f676e03a9efcc80783bc7e12e2c.asset/AssetData/NanumGothic.ttc
/Library/Fonts/NanumSquareRoundR.ttf
/Library/Fonts/NanumSquareLight.ttf
/Library/Fonts/NanumGothic.ttf
/Library/Fonts/NanumBarunGothicUltraLight.ttf
/Library/Fonts/NanumBarunGothicLight.ttf
/Library/Fonts/NanumPen.ttf
/Library/Fonts/NanumBrush.ttf
/Library/Fonts/NanumMyeongjo.ttf
/Library/Fonts/NanumSquareBold.ttf
/Library/Fonts/NanumBarunGothic.ttf
/Library/Fonts/NanumMyeongjoBold.ttf
/Library/Fonts/NanumSquareRoundL.ttf
/Library/Fonts/NanumSquareRoundEB.ttf
/Library/Fonts/NanumBarunpenRegular.ttf
/System/Library/AssetsV2/com_apple_MobileAsset_Font6/3b0bb049516d6dd825e1cd8731587ca7415517ff.asset/AssetData/NanumScript.ttc
/Library/Fonts/NanumGothicBold.ttf
/System/Library/AssetsV2/com_apple_MobileAsset_Font6/5c10807185ddbca859bc0b3ecefe55ebb1985aa9.asset/AssetData/NanumMyeongjo.ttc

/Users/nia/opt/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/matplotlibrc

In [4]:
## riot API
kr_url = 'https://kr.api.riotgames.com/'
asia_url = 'https://asia.api.riotgames.com/'
api_key = 'RGAPI-b5e53fa7-879d-4cd6-8dd0-ccb411e253a4'
api = '?api_key='+api_key

# 1. 티어별 소환사명 목록 만들기

## Challenger to Master

In [9]:
ch_queue_req = requests.get(f'{kr_url}lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5{api}')
gm_queue_req = requests.get(f'{kr_url}lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5{api}')
ms_queue_req = requests.get(f'{kr_url}lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5{api}')

In [14]:
challengers = pd.json_normalize(ch_queue_req.json()['entries'])
grandmasters = pd.json_normalize(gm_queue_req.json()['entries'])
masters = pd.json_normalize(ms_queue_req.json()['entries'])

ch_to_ms = pd.concat([challengers, grandmasters, masters], ignore_index=True)

print('# of summoners:    ', len(ch_to_ms))
print('# of challengers:  ', len(challengers))
print('# of grandmasters: ', len(grandmasters))
print('# of masters:      ', len(masters))
print()

ch_to_ms.head()

# of summoners:     4251
# of challengers:   300
# of grandmasters:  700
# of masters:       3251

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak
0,2OMUVkdEFjCQ-X9cnKnVzutigIzx39Mo62QlK5qcFIW2E5g,T1 Zeus,1143,I,459,397,True,False,False,False
1,_iG58wg8kGfppZxQQITHQOvt8IvFVZzfSvFX88TrCcMrjp...,tan hua yi xian,977,I,877,807,False,False,False,False
2,xy686tdArwnwtqijpMWjZAYtzM45g3xTZJ1ncI4PeaD18Os,BRO Loopy,805,I,757,705,False,False,True,False
3,Jg00lT8Ynrkiop9yUW-yWgB0j95COw7wao6_w5pJnuJusOs,Gen G Bdd,1011,I,224,171,True,False,False,False
4,2F6koT1BM5kSxA6y7E_VL--jS3XZ-3O8vCNoHayVUimOjB...,wu guan feng yue,1320,I,727,647,True,False,False,False

In [15]:
ch_to_ms.to_csv('./data/ch_to_ms.csv')

# 2. 소환사명으로 소환사 데이터 불러오기

In [21]:
summoners_df = pd.DataFrame()

i = 0
N = len(ch_to_ms.summonerName.values)

In [22]:
while(i < N):
    
    sn = ch_to_ms.summonerName.values[i]
    
    try:
        summoner_req = requests.get(f'{kr_url}lol/summoner/v4/summoners/by-name/{sn}{api}')
        summoner_df = pd.json_normalize(summoner_req.json())
        if i % 100 == 0:
            print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), i, summoner_df.name[0]))
    except Exception as e:
        if summoner_df['status.status_code'][0] == 404:
            print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
            pass
        elif summoner_df['status.status_code'][0] == 429:
            time.sleep(120)
            continue
        else:
            print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
            time.sleep(5)
            continue
        
    summoners_df = summoners_df.append(summoner_df, ignore_index=True)
    i += 1

05:47:11       0: T1 Zeus
05:47:41     100: BJ갈배
05:50:10     200: 돔 심
05:52:46     300: 종갈통
05:55:18     400: IreliaChallenger
05:57:48     500: Golden mole
06:00:18     600: 백지헌백지헌백지
06:02:51     700: tzvcxy
06:05:21     800: 비밀프로젝트
06:07:52     900: 처음부터다시하다
06:10:22    1000: 주나박
06:12:52    1100: 카시는작고소중해
06:15:22    1200: Shadow Ming9
06:17:53    1300: 수면소년
06:20:23    1400: ok동
06:22:54    1500: 귀신 녹턴
06:25:25    1600: 뱀정운
06:27:55    1700: 05ADC
06:30:27    1800: Odelia flower
06:32:57    1900: WinDei
06:35:28    2000: 핏 라
06:38:00    2100: zhongdan Irelia
06:40:31    2200: zxczxczv
06:43:02    2300: 허니바니
06:45:33    2400: 은결쌤
06:48:03    2500: pigwsy
06:50:34    2600: hylt hylt
06:53:04    2700: duinixindong
06:55:34    2800: 정점의 피지컬
06:58:05    2900: 둥가락
07:00:36    3000: Venta
07:03:07    3100: zdhl
07:05:38    3200: 원딜깡패오민혁
07:08:09    3300: 쁘 뽀
07:10:41    3400: 야호붕붕대장
07:13:11    3500: 망토가 펄럭
07:15:42    3600: wushugexingcheng
07:18:14    3700: MADE IN JUNGLE
07:20:45    3800: 송제우
07:23:16    3900: 04TOP C
07:25:47    4000: 재 툰
07:28:19    4100: 찬 님
07:30:49    4200: 정바미

In [23]:
summoners_df.to_csv('./data/summoners_df.csv')
summoners_df.head()

,id,accountId,puuid,name,profileIconId,revisionDate,summonerLevel,status.message,status.status_code
0,2OMUVkdEFjCQ-X9cnKnVzutigIzx39Mo62QlK5qcFIW2E5g,d8iLopH4-JkPo4S47OtjC_VqjI3QRR1KvNs4UqmVO5V9kCA,ODWTUNHDMtK9C0h1_ObdjJ6ZDkij4DJNAAtWMrwiIQ-TyS...,T1 Zeus,5040.0,1.629800e+12,367.0,NaN,NaN
1,_iG58wg8kGfppZxQQITHQOvt8IvFVZzfSvFX88TrCcMrjp...,3KmoGjA5MmatwKUPvhZVlYXtmIxx4TIs7CaLCUs3RwbF4k...,hcF9febiHTR-26ft4VinC0wIAIoHr2lpP0ClGOxOCZ5zAl...,tan hua yi xian,7.0,1.630063e+12,152.0,NaN,NaN
2,xy686tdArwnwtqijpMWjZAYtzM45g3xTZJ1ncI4PeaD18Os,vkmZnwY1b50o7XtwItxtDit2T4HYQ36aeFPY5RRwY28Vyg...,D0RYGxX15DItJnF8nsu4ushlBuFRLLRzUZypMtY9pV8JdH...,BRO Loopy,4802.0,1.630074e+12,298.0,NaN,NaN
3,Jg00lT8Ynrkiop9yUW-yWgB0j95COw7wao6_w5pJnuJusOs,5PYA6Cqr8LQOX6F-Mt63cU-mlab1d0vJPO6euyCaLPqMAyk,ftmmwwL7XStkrgAlIk7QAotgJseK01_B2RNZEHEyOt0sbA...,Gen G Bdd,7.0,1.630063e+12,208.0,NaN,NaN
4,2F6koT1BM5kSxA6y7E_VL--jS3XZ-3O8vCNoHayVUimOjB...,Hdoz8u8Oo6V7R7K6ZnowMdiXyp7OX25QWLiaIrdbOCWJ45...,jC2GVl9V2hssOLVNnWAjrqGVIbt8mlW3GyPHW68FH2Clvv...,wu guan feng yue,5034.0,1.630056e+12,204.0,NaN,NaN

In [24]:
# 합치기
summoners_df.drop(columns=['id'], inplace=True)
summoners_df.rename(columns={'name':'summonerName'}, inplace=True)

SUMMONERS = pd.merge(ch_to_ms, summoners_df, on='summonerName', how='inner')
SUMMONERS.drop(columns=['status.message', 'status.status_code'], inplace=True)
SUMMONERS.to_csv('./data/ch_to_ms.csv')
SUMMONERS.tail()

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,accountId,puuid,profileIconId,revisionDate,summonerLevel
4177,22dvCHs0D5mPfP_YHwO0HNXOv2GecybQJocqAMXYEU9rZ1o,클레브,103,I,162,141,False,False,False,False,ZVG7KbbUOpCyXA1afMIDleHnwULxVgtpvZs8TqUwhlepds8,yuaXZctRxAVOmiSxo6-bt-GNjrXs1UfS668oGr2J0jAHxe...,4535.0,1.629970e+12,162.0
4178,6jbvZfUaLfHtrTh3JbDM4-SnnNc1usfeUiQVmkUd35Wyks4,동규킹,0,I,199,127,False,False,True,False,VteggI1LcI4KGKBa98CUXxU77NmAmMHFd2i1trTdfXln-eI,PDo_SsDEfMKGtqmgjRMSNRbysnNuswG7jeE9ScCOoLPkyW...,29.0,1.630097e+12,78.0
4179,VMKJvEVH3Ift2UCua5kaB0o6HNgucXOx70WASybSH16lybc,과묵한 왕자,97,I,296,281,True,False,False,True,VjApUuwfy50XeIjV_hEZqzPkORalOB1F2frhkOy-ibuYv5I,01jdQ5AQDnyfhg0Nk9kAJRcyeAyjtuINtQbYy3ncLH0rkD...,4022.0,1.629791e+12,394.0
4180,1lht-9Kq5AgxGAWdpnKiWqVsK03wNlH2Fa9b_-pjamQc1w...,너네랑 어케이겨,220,I,100,75,True,False,False,False,hha365pN9mUvblXAyDGDm6WCjrPLKACKRaC0u77d_naQ6h...,ECKDO-8BR7GlXmoASiYvE5JtUVMyeTNMDPDbZHLMDAeVF0...,5023.0,1.629809e+12,47.0
4181,VzBqUa3lVqp2GYhz18NitbcDX1hZ-symSBATjmww3pCgsiIM,rocky2,297,I,234,202,False,False,False,True,ponKVzyxadKemOoWVnxME-1ieoJMy6SZjad0UCwqinZkq5...,tYYmnFekAu0XllV-P7MYbUxJcf_cM3HWvgCyBfSyLLYHHg...,4302.0,1.629979e+12,73.0

# 3. 소환사 계정 ID로 match 데이터 불러오기

In [25]:
SUMMONERS = pd.read_csv('./data/ch_to_ms.csv')

In [26]:
matches_set = set()

N = len(SUMMONERS)
i = 0

In [27]:
while(i < N):
    
    ai = SUMMONERS.accountId.values[i]
    
    try:
        matches_req = requests.get(f'{kr_url}lol/match/v4/matchlists/by-account/{ai}{api}')
        matches_df = pd.json_normalize(matches_req.json()['matches'])
        
        matches_set.update(matches_df.gameId.values)
        if i % 100 == 0:
            print('{0}   {1:5d}: {2:5d}'.format(datetime.datetime.now().strftime("%H:%M:%S"), i, len(matches_set)))
        
        i += 1
    
    except Exception as e:
        if matches_req.status_code == 429:
            time.sleep(120)
            continue
        else:
            print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
            time.sleep(5)
            i += 1
            continue

07:31:38       0:   100
07:34:27   'matches'
07:34:32     100:  6888
07:34:42   'matches'
07:34:52   'matches'
07:37:29     200: 10917
07:40:16     300: 15507
07:40:38   'matches'
07:43:10     400: 21524
07:45:59     500: 26178
07:48:49     600: 30175
07:48:53   'matches'
07:51:43     700: 33660
07:54:33     800: 37306
07:54:46   'matches'
07:57:20   'matches'
07:57:32     900: 40318
08:00:22    1000: 45311
08:03:05   'matches'
08:03:14    1100: 53027
08:06:03    1200: 60414
08:08:51    1300: 67745
08:09:03   'matches'
08:11:43    1400: 74600
08:14:33    1500: 80656
08:17:21    1600: 87012
08:20:10    1700: 93016
08:22:41   'matches'
08:23:03    1800: 98836
08:25:53    1900: 104025
08:28:47    2000: 109602
08:28:54   'matches'
08:31:38   'matches'
08:31:45    2100: 114862
08:34:35    2200: 120439
08:34:51   'matches'
08:37:30    2300: 125292
08:40:06   'matches'
08:40:25    2400: 130013
08:43:14    2500: 134208
08:43:25   'matches'
08:46:07    2600: 138674
08:48:55    2700: 143364
08:51:32   'matches'
08:51:49    2800: 147697
08:54:38    2900: 151895
08:54:53   'matches'
08:57:21   'matches'
08:57:40    3000: 156217
08:58:05   'matches'
09:00:38    3100: 161036
09:03:30    3200: 165403
09:06:20    3300: 169620
09:08:49   'matches'
09:09:13    3400: 173356
09:12:02    3500: 177036
09:14:52    3600: 181021
09:17:41    3700: 185059
09:20:30    3800: 188805
09:23:21    3900: 192569
09:23:36   'matches'
09:26:13    4000: 196854
09:26:31   'matches'
09:29:11    4100: 200607
09:31:43   'matches'

In [28]:
with open('./data/matches_set.txt', 'w') as file:
    for match in list(matches_set):
        file.write(str(match)+'\n')

# 4. match id로 match 데이터 불러오기

In [5]:
matches_df = pd.read_csv('./data/matches_set.txt', header=None, names=['match_id'])
matches_list = matches_df['match_id'].values
print(len(matches_list))

203213

In [9]:
MATCHES = pd.DataFrame()

N = len(matches_list)
j = 0

In [11]:
while(j < N):
    
    mi = str(matches_list[j])
    
    try:
        match_req = requests.get(f'{kr_url}lol/match/v4/matches/{mi}{api}')
        match_df = pd.json_normalize(match_req.json())
        gameId = match_df.gameId[0]
#         print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, match_df.gameId[0]))
    except Exception as e:
        if match_req.status_code == 405 or match_req.status_code == 403:
            print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), match_req.status_code))
            pass
        elif match_req.status_code == 429:
            time.sleep(120)
            continue
        else:
            print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
            time.sleep(5)
            continue
    
    try:
        #=============================================================
        #match_df 정리
        #=============================================================
        #match_df.drop(columns=['gameCreation', 'gameMode', 'gameType',
        #                   'mapId', 'queueId'], inplace=True)

        prtcp_key_list = ['championId', 'spell1Id', 'spell2Id']
        prtcpId_key_list = ['accountId', 'summonerName', 'summonerId']


        #승리 팀--------------------------------------
        team1 = match_df['teams'].values[0][0]['win']
        team2 = match_df['teams'].values[0][1]['win']

        if team1 == 'Win':
            match_df['win'] = 'team1'
        else:
            match_df['win'] = 'team2'
        #---------------------------------------------


        #lane 결정-------------------------------------------
        def select_lane(lane, role):
            if lane == 'TOP':
                return 'TOP'
            elif lane == 'JUNGLE':
                return 'JUG'
            elif lane == 'MIDDLE':
                return 'MID'
            elif lane == 'BOTTOM' and role == 'DUO_CARRY':
                return 'ADC'
            elif lane == 'BOTTOM' and role == 'DUO_SUPPORT':
                return 'SUP'
            else:
                return None
        #---------------------------------------------------


        #team 1 데이터 정리----------------------------------------------------
        for i in range(5):
            lane = match_df['participants'].values[0][i]['timeline']['lane']
            role = match_df['participants'].values[0][i]['timeline']['role']

            lane = select_lane(lane, role)
            if lane == None:
                lane = str(i)

            for key in prtcp_key_list:
                match_df['team1_{0}_{1}'.format(i+1, key)] = match_df['participants'].values[0][i][key]

            for key in prtcpId_key_list:
                match_df['team1_{0}_{1}'.format(i+1, key)] = match_df['participantIdentities'].values[0][i]['player'][key]

            for key in ['lane', 'role']:
                match_df['team1_{0}_{1}'.format(i+1, key)] = match_df['participants'].values[0][i]['timeline'][key]
                
            match_df['team1_{0}_position'.format(i+1)] = lane
        #----------------------------------------------------------------------

        #team 2 데이터 정리-----------------------------------------------------
        for i in range(5,10):
            lane = match_df['participants'].values[0][i]['timeline']['lane']
            role = match_df['participants'].values[0][i]['timeline']['role']

            lane = select_lane(lane, role)

            for key in prtcp_key_list:
                match_df['team2_{0}_{1}'.format(i-4, key)] = match_df['participants'].values[0][i][key]

            for key in prtcpId_key_list:
                match_df['team2_{0}_{1}'.format(i-4, key)] = match_df['participantIdentities'].values[0][i]['player'][key]

            for key in ['lane', 'role']:
                match_df['team2_{0}_{1}'.format(i-4, key)] = match_df['participants'].values[0][i]['timeline'][key]
                    
            match_df['team2_{0}_position'.format(i-4)] = lane
        #-----------------------------------------------------------------------
        
        match_df.drop(columns=['teams', 'participants', 'participantIdentities'], inplace=True)
        MATCHES = MATCHES.append(match_df, ignore_index=True)
        
    except Exception as e:
        print('{0}   {1:5d}: {2} {3}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, match_df.gameId[0], e))
        
    j += 1
    
    if (j%100) == 0:
        print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, gameId))
        MATCHES.to_csv('./data/matches.csv')

20:53:51    6000: 5327830511
20:56:43    6100: 5413813982
20:59:35    6200: 5359812596
21:02:31    6300: 5341462829
21:02:55    6332: 5395988862 'summonerId'
21:05:37    6400: 5248664091
21:05:43   'DataFrame' object has no attribute 'gameId'
21:05:52   'DataFrame' object has no attribute 'gameId'
21:08:34    6463: 5415912106 'summonerId'
21:08:49   'DataFrame' object has no attribute 'gameId'
21:09:15   'DataFrame' object has no attribute 'gameId'
21:09:49    6500: 5337268985
21:10:38   'DataFrame' object has no attribute 'gameId'
21:10:53   'DataFrame' object has no attribute 'gameId'
21:11:10   'DataFrame' object has no attribute 'gameId'
21:12:52   HTTPSConnectionPool(host='kr.api.riotgames.com', port=443): Max retries exceeded with url: /lol/match/v4/matches/5374493678?api_key=RGAPI-b5e53fa7-879d-4cd6-8dd0-ccb411e253a4 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f8bc86598b0>: Failed to establish a new connection: [Errno 60] Operation timed out'))
21:13:09    6600: 5388649522
21:16:19    6700: 5221926235
21:20:22    6800: 5392844376
21:21:21   'DataFrame' object has no attribute 'gameId'
21:23:27   ('Connection aborted.', OSError(0, 'Error'))
21:25:27   ('Connection aborted.', OSError(0, 'Error'))
21:26:25    6900: 5252335461
21:29:21    7000: 5322590345
21:32:21    7100: 5354572127
21:35:17    7200: 5370301013
21:35:39    7240: 5415914194 'summonerId'
21:38:14    7300: 5370301255
21:41:12    7400: 5413293126
21:44:25    7500: 5415914837
21:47:32    7600: 5333601859
21:51:09    7700: 5395468087
21:54:08    7783: 5350379508 'win'
21:54:18    7800: 5410148378
21:57:54    7900: 5421158731
22:00:51    8000: 5409624674
22:01:24    8055: 5415916281 'summonerId'
22:03:56    8100: 5329933135
22:06:54    8200: 5418013801
22:09:46    8290: 5282223443 'summonerId'
22:09:51    8300: 5412771180
22:12:47    8400: 5400712795
22:15:47    8500: 5417490254
22:18:43    8600: 5411199100
22:21:49    8700: 5408577933
22:25:14    8800: 5341993676
22:25:18   'DataFrame' object has no attribute 'gameId'
22:28:16    8900: 5360868281
22:31:12    9000: 5407005890
22:31:23    9019: 5350382837 'summonerId'
22:31:31    9035: 5400714517 'summonerId'
22:34:07    9100: 5402287592
22:37:05    9200: 5357199073
22:40:03    9300: 5367685047
22:43:00    9400: 5356675292
22:45:57    9495: 5410677223 'summonerId'
22:45:59    9500: 5078802925
22:48:58    9600: 5409104681
22:49:20    9639: 5391803289 'summonerId'
22:49:32   'DataFrame' object has no attribute 'gameId'
22:52:01    9700: 5351957582
22:55:02    9800: 5181039952
22:58:01    9900: 5390231165
23:00:58   10000: 5257062268
23:03:41   'DataFrame' object has no attribute 'gameId'
23:04:04   10100: 5347240084
23:04:39   10158: 5280131359 'summonerId'
23:07:03   10200: 5367163262
23:10:07   10300: 5339900558
23:13:04   10400: 5387611030
23:13:10   'DataFrame' object has no attribute 'gameId'
23:16:09   10500: 5423262898
23:19:08   10600: 5278035379
23:22:05   10700: 5404389036
23:22:07   'DataFrame' object has no attribute 'gameId'
23:22:19   10715: 5423263439 'summonerId'
23:25:08   10800: 5363494849
23:28:04   10900: 5400195267
23:31:00   11000: 5270696432
23:33:57   11100: 5350912798
23:36:55   11200: 5357728777
23:36:57   11202: 5204636685 'summonerId'
23:37:16   11232: 5345670226 'summonerId'
23:39:52   11300: 5388662063
23:40:17   'DataFrame' object has no attribute 'gameId'
23:42:54   11400: 5275940401
23:45:52   11498: 5410682681 'summonerId'
23:45:53   11500: 5388662589
23:48:37   11577: 5382371333 'summonerId'
23:48:49   11600: 5382895659
23:51:46   11700: 5421168974
23:54:42   11800: 5292194374
23:57:40   11900: 5369789226
00:00:36   12000: 5304253468
00:03:33   12100: 5375556978
00:06:32   12200: 5409111647
00:09:29   12300: 5393383284
00:09:32   12305: 5351440260 'summonerId'
00:12:25   12400: 5411733635
00:12:54   12451: 5415928080 'summonerId'
00:15:22   12500: 5423268238
00:15:24   12501: 5325750674 'summonerId'
00:18:19   12600: 5365072541
00:21:19   12700: 5423268745
00:21:28   'DataFrame' object has no attribute 'gameId'
00:24:23   12800: 5391287450
00:27:21   12900: 5372937615
00:27:40   'DataFrame' object has no attribute 'gameId'
00:30:26   13000: 5372937852
00:33:23   13100: 5365598063
00:36:15   13190: 5377132623 'summonerId'
00:36:20   13200: 5382375536
00:36:37   13228: 5380802759 'summonerId'
00:36:39   'DataFrame' object has no attribute 'gameId'
00:39:25   13300: 5351442789
00:42:23   13400: 5399153260
00:45:22   13500: 5372939135
00:48:02   'DataFrame' object has no attribute 'gameId'
00:48:26   13600: 5423271027
00:51:23   13700: 5371891032
00:54:21   13800: 5393387108
00:57:03   'DataFrame' object has no attribute 'gameId'
00:57:27   13900: 5322608487
00:57:49   13937: 5279616963 'summonerId'
01:00:26   14000: 5371891830
01:03:26   14100: 5365600613
01:03:58   'DataFrame' object has no attribute 'gameId'
01:06:31   14200: 5369795163
01:07:03   14255: 5412786923 'summonerId'
01:09:20   'DataFrame' object has no attribute 'gameId'
01:09:34   14300: 5394961247
01:12:35   14400: 5335716951
01:15:34   14500: 5416457522
01:18:34   14600: 5324707384
01:18:51   14628: 5279618669 'summonerId'
01:19:06   'DataFrame' object has no attribute 'gameId'
01:21:38   14700: 5375563547
01:24:24   14780: 5409118190 'summonerId'
01:24:36   14800: 5362980905
01:27:35   14900: 5379758459
01:30:22   14980: 5280143932 'summonerId'
01:30:33   15000: 5408070254
01:33:31   15100: 5387623230
01:36:19   'DataFrame' object has no attribute 'gameId'
01:36:39   15200: 5359311946
01:36:55   'DataFrame' object has no attribute 'gameId'
01:39:45   15300: 5397585234
01:42:44   15400: 5418557014
01:45:44   15500: 5402304354
01:48:43   15600: 5187346532
01:51:41   15700: 5394440562
01:54:39   15800: 5419082373
01:54:59   'DataFrame' object has no attribute 'gameId'
01:57:44   15900: 5381858181
02:00:42   16000: 5154841730
02:03:36   'DataFrame' object has no attribute 'gameId'
02:03:46   16100: 5409121674
02:04:17   'DataFrame' object has no attribute 'gameId'
02:06:51   16200: 5378188928
02:07:16   'DataFrame' object has no attribute 'gameId'
02:09:40   16272: 5411743540 'summonerId'
02:09:55   16300: 5421180781
02:09:58   'DataFrame' object has no attribute 'gameId'
02:13:00   16400: 5392869475
02:15:57   16500: 5404404064
02:18:55   16600: 5382384248
02:19:10   16624: 5353024183 'summonerId'
02:21:53   16700: 5402307423
02:24:52   16800: 5418560638
02:25:17   16842: 5405453537 'summonerId'
02:27:51   16900: 5343587677
02:28:21   'DataFrame' object has no attribute 'gameId'
02:30:55   17000: 5339917898
02:31:26   'DataFrame' object has no attribute 'gameId'
02:33:43   17066: 5409124076 'summonerId'
02:34:04   17100: 5318946651
02:37:05   17200: 5353025589
02:37:06   17200: 5380288568 'summonerId'
02:42:06   'DataFrame' object has no attribute 'gameId'
02:42:15   17300: 5334151467
02:45:08   'DataFrame' object has no attribute 'gameId'
02:47:25   17400: 5370851872
02:50:25   17500: 5325763333
02:53:23   17600: 5406503987
02:54:07   17675: 5380289762 'summonerId'
02:56:22   17700: 5335725357
02:59:21   17800: 5337298448
03:02:19   17900: 5414893323
03:05:18   18000: 5335726137
03:05:49   'DataFrame' object has no attribute 'gameId'
03:08:25   18100: 5405456707
03:09:02   18159: 5415942617 'summonerId'
03:11:25   18200: 5376096854
03:14:24   18300: 5317376886
03:17:24   18400: 5382913122
03:20:16   'DataFrame' object has no attribute 'gameId'
03:20:28   18500: 5292735855
03:20:44   18527: 5353029048 'summonerId'
03:23:27   18600: 5407030929
03:23:36   18615: 5282250426 'summonerId'
03:26:16   'DataFrame' object has no attribute 'gameId'
03:26:31   18700: 5418565520
03:29:26   18792: 5276483736 'summonerId'
03:29:30   18800: 5414895792
03:32:29   18900: 5415944657
03:35:27   'DataFrame' object has no attribute 'gameId'
03:35:36   'DataFrame' object has no attribute 'gameId'
03:35:51   19000: 5285921496
03:40:30   'DataFrame' object has no attribute 'gameId'
03:40:38   'DataFrame' object has no attribute 'gameId'
03:40:46   'DataFrame' object has no attribute 'gameId'
03:41:12   'DataFrame' object has no attribute 'gameId'
03:41:31   19100: 5375050701
03:44:35   19200: 5369808067
03:47:29   19284: 5414897042 'summonerId'
03:47:38   19300: 5416469947
03:47:41   19304: 5355128261 'summonerId'
03:50:34   19385: 5251319492 'summonerId'
03:50:43   19400: 5291165411
03:53:24   'DataFrame' object has no attribute 'gameId'
03:53:51   19500: 5416994748
03:56:12   'DataFrame' object has no attribute 'gameId'
03:56:18   19533: 5394974738 'summonerId'
03:56:24   'DataFrame' object has no attribute 'gameId'
03:56:53   19580: 5409130653 'summonerId'
03:57:05   19600: 5375576288
03:59:44   'DataFrame' object has no attribute 'gameId'
04:00:10   19700: 5398645207
04:03:10   19800: 5370858195
04:03:14   'DataFrame' object has no attribute 'gameId'
04:06:19   19900: 5390781439
04:08:49   19944: 5380295789 'summonerId'
04:09:24   20000: 5389733143
04:11:51   20040: 5415947672 'summonerId'
04:12:27   20100: 5387636270
04:12:29   20100: 5422239281 'summonerId'
04:12:32   20104: 5414899265 'summonerId'
04:15:31   20200: 5228252998
04:18:17   20273: 5414899682 'summonerId'
04:18:32   20300: 5372956700
04:21:37   20400: 5403889939
04:23:59   20433: 5415424358 'summonerId'
04:24:24   20474: 5396025805 'summonerId'
04:24:39   20500: 5398647322
04:27:39   20600: 5417521954
04:27:40   'DataFrame' object has no attribute 'gameId'
04:30:12   'DataFrame' object has no attribute 'gameId'
04:30:54   20700: 5376103477
04:33:58   20800: 5324723474
04:36:42   'DataFrame' object has no attribute 'gameId'
04:37:05   20900: 5349889579
04:40:10   21000: 5418571597
04:43:13   21100: 5405464678
04:46:12   'DataFrame' object has no attribute 'gameId'
04:46:20   21191: 5408086382 'summonerId'
04:46:25   21200: 5370337658
04:49:34   21300: 5342026364
04:52:39   21400: 5407038369
04:55:41   21500: 5397601442
04:57:58   'DataFrame' object has no attribute 'gameId'
04:58:50   21600: 5394455987
05:01:00   'DataFrame' object has no attribute 'gameId'
05:01:58   21700: 5412282052
05:04:37   21762: 5380300634 'summonerId'
05:05:01   21800: 5310570407
05:08:04   21900: 5372960892
05:10:12   21910: 5414903961 'summonerId'
05:11:09   22000: 5342028138
05:13:23   22021: 5394457015 'summonerId'
05:14:12   22100: 5411234455
05:16:18   403

AttributeError: 'DataFrame' object has no attribute 'gameId'

In [111]:
print(j)

39171

In [109]:
MATCHES.tail()

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,platformId,queueId,seasonId,...,team2_4_lane,team2_4_role,team2_5_championId,team2_5_spell1Id,team2_5_spell2Id,team2_5_accountId,team2_5_summonerName,team2_5_summonerId,team2_5_lane,team2_5_role
38966,1593509795770,2137,4479861189,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,420,13,...,BOTTOM,DUO_SUPPORT,245,4,11,AqraIK5579cEijNovrM1qSIRAnhfXi8idismhRMSVwftEq...,dimemaythgbedha,FIZG8K2jYKJXpWws-etWKeqE6MQ7byQ7ZHOwK35YC8c1xQU,JUNGLE,NONE
38967,1594374792223,1082,4499784140,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,NONE,DUO_SUPPORT,106,11,4,iUciSBA_ccas_6QrCTg9MOT3qPUHfzAdpfwkYVmOcJvQwA...,Keep calm and C,mGc_NpEOPTEtfJtzWx0oot7yBigONZfX4mBMmvPAEJyv4mc,NONE,DUO_SUPPORT
38968,1590937805122,2023,4420092364,CLASSIC,MATCHED_GAME,10.11.322.2991,11,KR,430,13,...,BOTTOM,DUO_CARRY,39,14,4,IuougcPWMMp4kWlzIWAdJOgmSLrwAYdjTJqMmS3b4mE8je...,라넌큘러스,dygPkJ-IRrUGHSzQoNXqUzoxyBrQ-FJWqF2UKj8E5uCSGic,MIDDLE,SOLO
38969,1592999354990,1754,4467802580,CLASSIC,MATCHED_GAME,10.13.325.7485,11,KR,420,13,...,BOTTOM,DUO_SUPPORT,266,4,12,gF8YqddwaqXsn_zkzzjD1MN3bIRPlp4uZVvmDpUGdXB9NZM,운도리,88maOsuXTEqdGgTmF-9NrwLM35LWfWaXiKN73mItbKntAQ0,TOP,SOLO
38970,1595745787447,1181,4532290004,NEXUSBLITZ,MATCHED_GAME,10.15.328.8759,21,KR,1300,13,...,NONE,DUO_SUPPORT,67,4,21,30JPMzxxQTMg993W0QrCKrTtiPXB33ztHUHd7plu8QXa,꿈꾸는 도토리,8Wt61XuiQ_df-XuOVNQVy2tM_dlj8fKkwzU9rDgQqs2zoQ,NONE,DUO

# 매치 데이터 정리

* gameId
* seasonId
* gameVersion
* participants
    - championId
    - spell1Id
    - spell2Id
* participantIdentities
    - accountId
    - summonerName
    - summonerId

In [110]:
match_df = json_normalize(match_req.json())
match_df.drop(columns=['gameCreation', 'gameMode', 'gameType',
                       'mapId', 'queueId'], inplace=True)
# match_df.set_index('gameId', inplace=True)
match_df.head()

,gameDuration,gameId,gameVersion,participantIdentities,participants,platformId,seasonId,teams
0,1867,4530461969,10.15.328.8759,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."

In [119]:
match_df = json_normalize(match_req.json())
match_df.drop(columns=['gameCreation', 'gameMode', 'gameType',
                       'mapId', 'queueId'], inplace=True)

prtcp_key_list = ['championId', 'spell1Id', 'spell2Id']
prtcpId_key_list = ['accountId', 'summonerName', 'summonerId']

team1 = match_df['teams'].values[0][0]['win']
team2 = match_df['teams'].values[0][1]['win']

if team1 == 'Win':
    match_df['win'] = 'team1'
else:
    match_df['win'] = 'team2'
    
def select_lane(lane, role):
    if lane == 'TOP':
        return 'TOP'
    elif lane == 'JUNGLE':
        return 'JUG'
    elif lane == 'MIDDLE':
        return 'MID'
    elif lane == 'BOTTOM' and role == 'DUO_CARRY':
        return 'ADC'
    elif lane == 'BOTTOM' and role == 'DUO_SUPPORT':
        return 'SUP'
    else:
        return None
    
for i in range(5):
    lane = match_df['participants'].values[0][i]['timeline']['lane']
    role = match_df['participants'].values[0][i]['timeline']['role']
    
    lane = select_lane(lane, role)
    
    for key in prtcp_key_list:
        match_df['team1_{0}_{1}'.format(lane, key)] = match_df['participants'].values[0][i][key]
        
    for key in prtcpId_key_list:
        match_df['team1_{0}_{1}'.format(lane, key)] = match_df['participantIdentities'].values[0][i]['player'][key]
        
for i in range(5,10):
    lane = match_df['participants'].values[0][i]['timeline']['lane']
    role = match_df['participants'].values[0][i]['timeline']['role']
    
    lane = select_lane(lane, role)
    
    for key in prtcp_key_list:
        match_df['team2_{0}_{1}'.format(lane, key)] = match_df['participants'].values[0][i][key]
        
    for key in prtcpId_key_list:
        match_df['team2_{0}_{1}'.format(lane, key)] = match_df['participantIdentities'].values[0][i]['player'][key]
        
    
match_df.drop(columns=['teams', 'participants', 'participantIdentities'], inplace=True)
match_df.set_index('gameId', inplace=True)
match_df.head()

,gameDuration,gameVersion,platformId,seasonId,win,team1_TOP_championId,team1_TOP_spell1Id,team1_TOP_spell2Id,team1_TOP_accountId,team1_TOP_summonerName,...,team2_ADC_spell2Id,team2_ADC_accountId,team2_ADC_summonerName,team2_ADC_summonerId,team2_SUP_championId,team2_SUP_spell1Id,team2_SUP_spell2Id,team2_SUP_accountId,team2_SUP_summonerName,team2_SUP_summonerId
gameId,,,,,,,,,,,,,,,,,,,,,
4530461969,1867,10.15.328.8759,KR,13,team1,68,12,4,B0YBK1wCNNubEk-tRp7qmN601ubjdWLO6C7bkRFH50clSkA,사 용 수,...,7,1obHO2Y4DAZlobK7396eUH3-L85RjjkWHANvsohiOaVti2...,wohennangu0,zIHvAi4E8ZKpdMKsyY4nqFZ6tO4KesA7go4W6Nu2FeClxwQ,875,4,14,04bIyaoAJLviZ-6-Bofb7zYVWeU6Tnk5uAz-43CMLdE94G...,실망자,cdya4bpOdk15ISCADNsLWs0GolBDkHJ5-zgxU-wsJz0zCY0

In [130]:
match_train_df = match_df.drop(columns=['win', 'gameDuration', 'gameVersion', 'platformId', 'seasonId'])

orders = []

for team in ['team1', 'team2']:
    for lane in ['TOP', 'JUG', 'MID', 'ADC', 'SUP']:
        match_train_df.drop(columns=[team+'_'+lane+'_accountId', 
                                     team+'_'+lane+'_summonerName', 
                                     team+'_'+lane+'_summonerId'], 
                            inplace=True)
        
        orders.append(team+'_'+lane+'_championId')
        orders.append(team+'_'+lane+'_spell1Id')
        orders.append(team+'_'+lane+'_spell2Id')
        
match_train_df = match_train_df[orders]

match_train_X_df = pd.get_dummies(match_train_df, columns=match_train_df.columns)
match_train_y_df = match_df['win']

match_train_df.head()

,team1_TOP_championId,team1_TOP_spell1Id,team1_TOP_spell2Id,team1_JUG_championId,team1_JUG_spell1Id,team1_JUG_spell2Id,team1_MID_championId,team1_MID_spell1Id,team1_MID_spell2Id,team1_ADC_championId,...,team2_JUG_spell2Id,team2_MID_championId,team2_MID_spell1Id,team2_MID_spell2Id,team2_ADC_championId,team2_ADC_spell1Id,team2_ADC_spell2Id,team2_SUP_championId,team2_SUP_spell1Id,team2_SUP_spell2Id
gameId,,,,,,,,,,,,,,,,,,,,,
4530461969,68,12,4,106,4,11,61,1,4,22,...,4,142,12,4,235,4,7,875,4,14

In [131]:
match_train_X_df.head()

,team1_TOP_championId_68,team1_TOP_spell1Id_12,team1_TOP_spell2Id_4,team1_JUG_championId_106,team1_JUG_spell1Id_4,team1_JUG_spell2Id_11,team1_MID_championId_61,team1_MID_spell1Id_1,team1_MID_spell2Id_4,team1_ADC_championId_22,...,team2_JUG_spell2Id_4,team2_MID_championId_142,team2_MID_spell1Id_12,team2_MID_spell2Id_4,team2_ADC_championId_235,team2_ADC_spell1Id_4,team2_ADC_spell2Id_7,team2_SUP_championId_875,team2_SUP_spell1Id_4,team2_SUP_spell2Id_14
gameId,,,,,,,,,,,,,,,,,,,,,
4530461969,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [128]:
match_train_y_df.head()

gameId
4530461969    team1
Name: win, dtype: object

In [ ]:
match_df['team2_TOP_summonerName']

In [89]:
match_df['participantIdentities'].values[0][0]

{'participantId': 1,
 'player': {'platformId': 'KR',
  'accountId': 'B0YBK1wCNNubEk-tRp7qmN601ubjdWLO6C7bkRFH50clSkA',
  'summonerName': '사 용 수',
  'summonerId': 'XoeObrc8p2RKmU1fglPJXxMrJyhQjs2kupP9_jiMlcZ1X4E',
  'currentPlatformId': 'KR',
  'currentAccountId': 'B0YBK1wCNNubEk-tRp7qmN601ubjdWLO6C7bkRFH50clSkA',
  'matchHistoryUri': '/v1/stats/player_history/KR/204196076',
  'profileIcon': 3872}}