In [98]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import requests
import time
import datetime
import pymysql
import pymysql.cursors
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings(action='ignore')

In [92]:
url = 'https://kr.api.riotgames.com/'
api_key = 'RGAPI-fb449dd3-9d81-4823-bb44-5ea0d0ed6b30'
api = '?api_key='+api_key

In [85]:
host = '127.0.0.1'
port = '3306'
sid = 'League Of Legends'

user = 'root'
password = 'tmddk720'

## Upload dataframe to Database

In [86]:
def upload_df_to_db(host, port, sid, user, password, table, df, if_exists='append'):
    
    connection = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                db=sid,
                                charset='utf8',
                                cursorclass=pymysql.cursors.DictCursor)

    engine = create_engine("mysql+pymysql://{user}:{password}@{host}/{db}"
                        .format(user=user, password=password, host=host, db=sid))


    try:
        with connection.cursor() as cursor:
#             print('upload')
            df.to_sql(name=table, con=engine, if_exists=if_exists, index=False)
            connection.commit()
#             print('upload db')
    
    except Exception as e:
        print(e)
                
    finally:
        connection.close()

In [87]:
def update_db(host, port, sid, user, password, sql, values, option='one'):
    
    connection = pymysql.connect(host=host,
                                user=user,
                                password=password,
                                db=sid,
                                charset='utf8',
                                cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
#             print('update')
            if option == 'one':
                cursor.execute(sql, values)
            elif option == 'many':
                cursor.executemany(sql, values)
                
            connection.commit()
#             print('update db')
    
    except Exception as e:
        print(e)
                
    finally:
        connection.close()

## get data from DB

In [88]:
def get_league_queue_from_db(tier):
    host = '127.0.0.1'
    port = '3306'
    sid = 'League Of Legends'

    user = 'root'
    password = 'tmddk720'
    
    con = pymysql.connect(host=host, user=user, password=password, db=sid, charset='utf8')
    
    try:
        league_queue_db = pd.read_sql("SELECT * FROM league_queue where tier = '" + tier + "'", con=con)
    except Exception as e:
        print(e)
    finally:
        con.close()
        
    return league_queue_db

In [89]:
def get_recent_matchId_in_db(summonerId):

    host = '127.0.0.1'
    port = '3306'
    sid = 'League Of Legends'

    user = 'root'
    password = 'tmddk720'
    
    con = pymysql.connect(host=host, user=user, password=password, db=sid, charset='utf8')
    sql = """SELECT gameId FROM `League Of Legends`.matchlists t1 
                WHERE t1.timestamp = (SELECT t2.timestamp FROM `League Of Legends`.matchlists t2 
                                        WHERE t2.summonerId = '%s' 
                                        ORDER BY t2.timestamp DESC LIMIT 1);""" %(summonerId)
    try:
        with con.cursor() as cursor:
            cursor.execute(sql)
            fetch = cursor.fetchall()
            
            if len(fetch) == 0:
                gameId = np.nan
            else:
                gameId = int(fetch[0][0])
    except Exception as e:
        print(e)
    finally:
        con.close()
    
    return gameId

## 티어별 소환사 리스트 저장

In [6]:
#challenger to master
ch_queue_req = requests.get(url + 'lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5'+api)
gm_queue_req = requests.get(url + 'lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5'+api)
ms_queue_req = requests.get(url + 'lol/league/v4/masterleagues/by-queue/RANKED_SOLO_5x5'+api)

challengers = json_normalize(ch_queue_req.json()['entries'])
challengers['tier'] = 'CHALLENGER'
grandmasters = json_normalize(gm_queue_req.json()['entries'])
grandmasters['tier'] = 'GRANDMASTER'
masters = json_normalize(ms_queue_req.json()['entries'])
masters['tier'] = 'MASTER'

In [7]:
ch_to_dia = pd.concat([challengers, grandmasters, masters], ignore_index=True)

In [8]:
#diamondI to diamondIV
dias = {}

for tier in ['I', 'II', 'III', 'IV']:
    print('==================', tier, '==================')
    dias[tier] = pd.DataFrame()
    
    page = 1
    
    while(True):
        dia_queue_req = requests.get(url + 'lol/league/v4/entries/RANKED_SOLO_5x5/DIAMOND/'+tier +
                                     '?page=' + str(page) + '&api_key='+api_key)
        
        #2분에 100개 요청 넘어가는 경우
        if dia_queue_req.status_code == 429:
            time.sleep(120)
            continue
            
        #더이상 데이터 페이지가 없는 경우
        if len(dia_queue_req.content) == 2:
            print(tier, page)
            break
        else:
            temp_dias = json_normalize(dia_queue_req.json())
            dias[tier] = dias[tier].append(temp_dias)
            page += 1
       
    ch_to_dia = pd.concat([ch_to_dia, dias[tier]], ignore_index=True)
    
ch_to_dia['update'] = datetime.datetime.now()

print('# of summoners:    ', len(ch_to_dia))
print('# of challengers:  ', len(challengers))
print('# of grandmasters: ', len(grandmasters))
print('# of masters:      ', len(masters))
print('# of diamond1:     ', len(dias['I']))
print('# of diamond2:     ', len(dias['II']))
print('# of diamond3:     ', len(dias['III']))
print('# of diamond4:     ', len(dias['IV']))
print()

ch_to_dia.tail()

================== I ==================
I 37
================== II ==================
II 64
================== III ==================
III 130
================== IV ==================
IV 375
# of summoners:     125778
# of challengers:   300
# of grandmasters:  700
# of masters:       1668
# of diamond1:      7278
# of diamond2:      12877
# of diamond3:      26333
# of diamond4:      76622

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,tier,leagueId,queueType,miniSeries.target,miniSeries.wins,miniSeries.losses,miniSeries.progress,update
125773,o7iA9EOqqHTKTRJter2kt64GMtzeyHzVvpsPpg1m5cmu3Sg,YxxxxxxxxyC,0,IV,106,76,False,False,False,False,DIAMOND,c127b080-4359-462b-91f0-6070f3b6442d,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN,2020-09-07 21:26:11.023741
125774,Ddt8nRrIq1pSWLB_JhDdTPNzq8MiB5tOAZ3f1F3rnFlb8w,buff markersman,3,IV,132,115,False,False,False,False,DIAMOND,c6b80a17-e510-48a0-83dd-2fdbbb8ef45d,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN,2020-09-07 21:26:11.023741
125775,ZY8BJSpxfufLY5W0ZyxoCSHE0qsn9KBPqYeWtJSysglk8ho,김화타,0,IV,166,152,False,False,False,False,DIAMOND,f21dfb7d-2426-4503-9a6a-3409bd139827,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN,2020-09-07 21:26:11.023741
125776,JUlvU2yNiOSbkj_aattbfvFR817IhDeOhH5thPsi6NkRZk4,zao zi ge ge,9,IV,172,142,False,False,False,False,DIAMOND,bf409f7f-2fe6-4f1a-8ef2-bc70d3996fcc,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN,2020-09-07 21:26:11.023741
125777,7hkWQ8mn89PKScd-P7aUeTiP4NaNNaCkAFGc4oL09nZkygc,예술적인 솔킬각,35,IV,324,278,False,False,False,False,DIAMOND,fffc1cf1-8c91-4f0a-ba64-a646e9266cb8,RANKED_SOLO_5x5,NaN,NaN,NaN,NaN,2020-09-07 21:26:11.023741

In [10]:
ch_to_dia.to_csv('./data/ch_to_dia.csv')

In [13]:
for i in range(len(ch_to_dia)):
    summonerName = ch_to_dia['summonerName'][i]
    summonerId = ch_to_dia['summonerId'][i]
    tier = ch_to_dia['tier'][i]
    leaguePoints = str(ch_to_dia['leaguePoints'][i])
    rank = ch_to_dia['rank'][i]
    wins = str(ch_to_dia['wins'][i])
    losses = str(ch_to_dia['losses'][i])
    update = datetime.datetime.now()

    sql = """INSERT INTO `League Of Legends`.league_queue 
                (summonerName, summonerId, tier, leaguePoints, `rank`, wins, losses, `update`) 
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s)  
             ON DUPLICATE KEY UPDATE \
                summonerName = VALUES(summonerName), \
                tier = VALUES(tier), \
                leaguePoints = VALUES(leaguePoints), \
                `rank` = VALUES(`rank`), \
                wins = VALUES(wins), \
                losses = VALUES(losses), \
                `update` = VALUES(`update`);"""

    values = (summonerName, summonerId, tier, leaguePoints, rank, wins, losses, update)

    update_db(host, port, sid, user, password, sql, values)

## 티어별 소환사 데이터 저장

In [ ]:
for tier in ['DIAMOND']:
    
    print('==================', tier, '==================')
    league_queue_df = get_league_queue_from_db(tier)
    
    N = len(league_queue_df)
    i = 44697
    
    while(i<N):
        si = league_queue_df.summonerId.values[i]
        
        try:
            summoner_req = requests.get(url + 'lol/summoner/v4/summoners/' + si + api)
            summoner_df = json_normalize(summoner_req.json())
            print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), i, summoner_df.name[0]))
            
            summonerName = summoner_df['name'][0]
            summonerId = summoner_df['id'][0]
            accountId = summoner_df['accountId'][0]
            puuid = summoner_df['puuid'][0]
            summonerLevel = str(summoner_df['summonerLevel'][0])
            profileIconId = str(summoner_df['profileIconId'][0])
            revisionDate = str(summoner_df['revisionDate'][0])
            update = datetime.datetime.now()

            sql = """INSERT INTO `League Of Legends`.summoners 
                        (summonerName, summonerId, accountId, puuid, summonerLevel, profileIconId, revisionDate, `update`) 
                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s)  
                     ON DUPLICATE KEY UPDATE \
                        summonerName = VALUES(summonerName), \
                        accountId = VALUES(accountId), \
                        puuid = VALUES(puuid), \
                        summonerLevel = VALUES(summonerLevel), \
                        profileIconId = VALUES(profileIconId), \
                        revisionDate = VALUES(revisionDate), \
                        `update` = VALUES(`update`);"""

            values = (summonerName, summonerId, accountId, puuid, summonerLevel, profileIconId, revisionDate, update)

            update_db(host, port, sid, user, password, sql, values)
        
        
        except Exception as e:
            #2분에 100개 제한
            if summoner_req.status_code == 429:
                time.sleep(120)
                continue
            
            #없는 데이터
            if summoner_req.status_code == 404:
                print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                pass
            else:
                print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                time.sleep(5)
                continue

        i += 1

## 소환사별 매치 데이터 다운로드

In [ ]:
for tier in ['GRANDMASTER', 'MASTER']:
    
    print('==================', tier, '==================')
    league_queue_df = get_league_queue_from_db(tier)
    
    N = len(league_queue_df)
    i = 0
    
    passthrough = True
    
    #for summoner
    while(i<N):
        
        #tier별 소환사 목록에서 summonerId, summonerName 얻기
        si = league_queue_df.summonerId.values[i]
        sn = league_queue_df.summonerName.values[i]
        
        if(sn == 'Hayasaka 4i'):
            passthrough = False
        
        if(passthrough):
            i += 1
            continue
        
        #summonerId로 summoner 데이터 불러오기
        summoner_df = get_summoner_from_db(si)
        if len(summoner_df) == 0:
            i += 1
            continue
            
        ai = summoner_df['accountId'][0]
        
        #summonerId로 db에 저장되어 있는 가장 최근 매치 데이터 불러오기
        recent_matchId = get_recent_matchId_in_db(si)
        
        #begin index
        bi = 0
        yn_search = True
        
        while(yn_search):
            
            try:
                matches_req = requests.get(url + 'lol/match/v4/matchlists/by-account/' + ai + api + '&season=13&beginIndex=' + str(bi*100))           

                #2분에 100개 요청 넘어가는 경우
                if matches_req.status_code == 429:
                    time.sleep(120)
                    continue

                #더이상 데이터 페이지가 없는 경우
                if len(matches_req.json()['matches']) == 0:
                    print(sn, bi)
                    break
                
                #데이터 페이지를 불러온 경우
                else:
                    matches_df = json_normalize(matches_req.json())
                    matches_df = json_normalize(matches_df['matches'][0]).drop(columns=['role', 'lane'])
                    
                    matches_df['summonerName'] = sn
                    matches_df['summonerId'] = si
                    matches_df['accountId'] = ai
                    matches_df['timestamp'] = matches_df['timestamp'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000).strftime("%Y-%m-%d %H:%M:%S"))
                    
                    sql = """INSERT INTO `League Of Legends`.matchlists
                                (platformId, gameId, champion, queue, season, timestamp, summonerName, summonerId, accountId) 
                             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)  
                             ON DUPLICATE KEY UPDATE 
                                platformId = VALUES(platformId), 
                                champion = VALUES(champion), 
                                queue = VALUES(queue),
                                season = VALUES(season),
                                timestamp = VALUES(timestamp),
                                summonerName = VALUES(summonerName);"""
                    values = list(matches_df.itertuples(index=False, name=None))
                    
                    #db에 데이터 업데이트
                    update_db(host, port, sid, user, password, sql, values, option='many')
                    bi += 1
                    
                    #데이터베이스에 기록된 경기까지 찾은 경우 더 이상 검색하지 않음
                    if(recent_matchId in matches_df['gameId'].values):
                        print(sn, bi)
                        yn_search = False
                    
            except Exception as e:
                #없는 데이터
                if matches_req.status_code == 404:
                    print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                    pass
                else:
                    print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                    time.sleep(5)
                    continue
        
        i += 1

================== GRANDMASTER ==================
================== MASTER ==================
Kerau 6
순진하지 14

In [96]:
sn

'Hayasaka 4i'

In [97]:
bi

38

Empty DataFrame
Columns: [summonerId, summonerName, summonerLevel, accountId, puuid, profileIconId, revisionDate, update]
Index: []