In [282]:
import requests
from urllib.request import urlopen
from urllib.parse import quote_plus
from bs4 import BeautifulSoup
import lxml.html
import re
import pandas as pd
from pandas.io.json import json_normalize
import datetime
import time

In [283]:
url = 'https://www.op.gg/summoner/champions/userName='
api_key = 'RGAPI-720c9977-5a65-4bc4-add3-a7e914d2d3d3'
api = '?api_key='+api_key

# 1. 소환사명 불러오기

Challenger to Diamond2

In [232]:
ch_to_dia_df = pd.read_csv('./data/ch_to_dia.csv')
ch_to_dia_df.drop(columns=['Unnamed: 0'], inplace=True)
ch_to_dia_df.head()

,freshBlood,hotStreak,inactive,leagueId,leaguePoints,losses,miniSeries.losses,miniSeries.progress,miniSeries.target,miniSeries.wins,queueType,rank,summonerId,summonerName,tier,veteran,wins
0,False,False,False,NaN,891,352,NaN,NaN,NaN,NaN,NaN,I,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,Hide on bush,NaN,True,393
1,False,True,False,NaN,794,276,NaN,NaN,NaN,NaN,NaN,I,cTZCWU4ltosn-4hyXRtYEF7Luul52JQG7Zu3Ht9vBS9q4LM,bugaoxing,NaN,True,319
2,False,False,False,NaN,1214,975,NaN,NaN,NaN,NaN,NaN,I,Mj3QDYNOBaGcyrvEZPUtVs066RWOHKk6tDKXIib3n5Cdfp0,I still remember,NaN,True,1106
3,False,False,False,NaN,1083,183,NaN,NaN,NaN,NaN,NaN,I,W2Umgo0Rdl5kZ_zAPk3YAYi5eUJley95ZYyh3VcxttMfFfo,Destiny,NaN,True,189
4,False,False,False,NaN,742,502,NaN,NaN,NaN,NaN,NaN,I,kn3GcMLljUTznV4zOtpH8wOvLI03GtmWhPRsS-O0IKxFvS4,헤이스트에요,NaN,False,541

# 2. 소환사별 챔피언 정보 정리하기

In [233]:
regex = {}

regex['Champion'] = re.compile(r'\s*([\w.&]*)\s*')
regex['Played'] = re.compile(r'\s*(\d*W)*\s*(\d*L)*\s*(\d*%)+\s*')
regex['KDA'] = re.compile(r'\s*([\d.]*)[ /\s]*([\d.]*)[ /\s]*([\d.]*)[ /\s]*([\d.:]*)\s*')
regex['Gold'] = re.compile(r'\s*([\d,]*)\s*')
regex['CS'] = re.compile(r'\s*([\d.]*)[\(\s]*([\d.]*)\)\s*')
regex['Max Kills'] = re.compile(r'\s*([\d]*)\s*')
regex['Max Death'] = re.compile(r'\s*([\d]*)\s*')
regex['Average Damage Dealt'] = re.compile(r'\s*([\d,]*)\s*')
regex['Average Damage Taken'] = re.compile(r'\s*([\d,]*)\s*')
regex['Double Kill'] = re.compile(r'\s*([\d]*)\s*')
regex['Triple Kill'] = re.compile(r'\s*([\d]*)\s*')
regex['Quadra Kill'] = re.compile(r'\s*([\d]*)\s*')
regex['Penta Kill'] = re.compile(r'\s*([\d]*)\s*')

## opgg에서 소환사명으로 소환사별 챔피언 데이터 불러오기

In [ ]:
columnlist = ['#', 'Champion', 'Win', 'Loss', 'Win Rate', 'K', 'D', 'A', 'KDA', 'Gold', 'CS', 'CS/min', 
               'Max Kills', 'Max Deaths', 'Average Damage Dealt', 'Average Damage Taken',
              'Double Kill', 'Triple Kill', 'Quadra Kill', 'Penta Kill']
DF = pd.DataFrame(columns=['summonerName']+columnlist[1:])

In [255]:
j = 4382
N = len(ch_to_dia_df.summonerName.values)

In [ ]:
while j < N:
    try:    
        sn = ch_to_dia_df.summonerName.values[j]
        sn_noblank = re.sub(r'[\s]*', '', sn)
        encode = quote_plus(sn_noblank)

        html = urlopen(url+encode)
        bsObject = BeautifulSoup(html, 'html.parser')
        contents = bsObject.select('div > table > tbody > tr')

        reg = re.compile(r'[\d\w.,:&\' ]+')

        df = pd.DataFrame(columns=columnlist)
        dfcontent = []

        for con in contents:
            tds = con.find_all('td')
            del tds[1]

            for i, td in enumerate(tds):
                text = td.text
                texts = reg.findall(text)

                if i == 2:
                    played_group = regex['Played'].search(text)

                    if played_group.group(1) == None:
                        dfcontent = dfcontent + ['0W'] + texts
                    elif played_group.group(2) == None:
                        dfcontent = dfcontent + [texts[0]] + ['0L'] + [texts[1]]
                    else:
                        dfcontent = dfcontent + texts

                else:
        #         dfcontent.append(text)
                    dfcontent = dfcontent + texts

            if len(dfcontent) != len(columnlist):
                for i in range(len(columnlist)-len(dfcontent)):
                    dfcontent.append(0)

            ser = pd.Series(dfcontent, index=columnlist)
            df = df.append(ser, ignore_index=True)

            dfcontent = []

        # df = pd.DataFrame()
        # df = df.append(alldfcontents)
        df['Win'] = df['Win'].apply(lambda x: x[:-1])
        df['Loss'] = df['Loss'].apply(lambda x: x[:-1])
    
    except Exception as e:
        print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, e))
        continue

    df.drop(columns=['#'], inplace=True)
    df['summonerName'] = sn
    DF = DF.append(df)
    
    print('{0}   {1:5d}: {2}'.format(datetime.datetime.now().strftime("%H:%M:%S"), j, sn))
    j += 1
    time.sleep(1)

In [257]:
DF.to_csv('./data/opgg_ch_to_dia.csv')

## 챔피언 데이터 정리하기

In [258]:
opgg_df = pd.read_csv('./data/opgg_ch_to_dia.csv')
opgg_df.drop(columns=['Unnamed: 0'], inplace=True)
opgg_df = opgg_df[['summonerName', 'Champion', 'Win', 'Loss', 'Win Rate', 'KDA', 'K', 'D', 'A', 
                  'CS', 'CS/min', 'Gold', 'Max Kills', 'Max Deaths', 'Average Damage Dealt', 'Average Damage Taken', 
                   'Double Kill', 'Triple Kill', 'Quadra Kill', 'Penta Kill']]
opgg_df.head()

C:\Users\LG\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,summonerName,Champion,Win,Loss,Win Rate,KDA,K,D,A,CS,CS/min,Gold,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill
0,Hide on bush,LeBlanc,38,29,57,4.15:1,6.5,3.0,6.1,196.4,7.6,"11,027",22,7,"105,577","17,692",43,8,0,0
1,Hide on bush,Sett,45,20,69,3.91:1,4.7,2.9,6.5,190.9,7.4,"10,872",13,7,"114,469","24,264",29,3,0,0
2,Hide on bush,Sylas,27,35,44,2.68:1,5.9,4.5,6.2,211.1,7.7,"11,784",16,11,"131,697","26,902",39,5,1,0
3,Hide on bush,Zoe,32,29,52,4.35:1,6.0,3.0,7.3,212.5,7.7,"11,884",19,8,"140,932","13,991",31,3,1,0
4,Hide on bush,Lucian,28,18,61,2.61:1,4.9,3.9,5.3,226.2,8.7,"11,525",13,8,"143,392","16,434",21,2,1,0

In [259]:
opgg_df['Gold'] = opgg_df['Gold'].apply(lambda x: int(x.replace(',', '')))
opgg_df['Average Damage Dealt'] = opgg_df['Average Damage Dealt'].apply(lambda x: int(x.replace(',', '')))
opgg_df['Average Damage Taken'] = opgg_df['Average Damage Taken'].apply(lambda x: int(x.replace(',', '')))
opgg_df['Double Kill'] = opgg_df['Double Kill'].apply(lambda x: str(x))
opgg_df['Double Kill'] = opgg_df['Double Kill'].apply(lambda x: int(x.replace(',', '')))
def cleanse_kda(x):
    if x == 'Perfect':
        return 100.0
    else:
        return float(x[:x.find(':')])
    
opgg_df['KDA'] = opgg_df['KDA'].apply(lambda x: cleanse_kda(x))
opgg_df['Games'] = opgg_df['Win'] + opgg_df['Loss']

In [260]:
for col in opgg_df.columns:
    print(col, opgg_df[col].dtype)

summonerName object
Champion object
Win int64
Loss int64
Win Rate int64
KDA float64
K float64
D float64
A float64
CS float64
CS/min float64
Gold int64
Max Kills int64
Max Deaths int64
Average Damage Dealt int64
Average Damage Taken int64
Double Kill int64
Triple Kill int64
Quadra Kill int64
Penta Kill int64
Games int64

In [261]:
opgg_df = opgg_df[['summonerName', 'Champion', 'Win', 'Loss', 'Games', 'Win Rate', 'KDA', 'K', 'D', 'A', 
                  'CS', 'CS/min', 'Gold', 'Max Kills', 'Max Deaths', 'Average Damage Dealt', 'Average Damage Taken', 
                   'Double Kill', 'Triple Kill', 'Quadra Kill', 'Penta Kill']]
opgg_df.to_csv('./data/opgg_ch_to_dia_cleansed.csv')

# 3. 챔피언 ID 매칭하기

In [262]:
opgg_df = pd.read_csv('./data/opgg_ch_to_dia_cleansed.csv')
opgg_df.drop(columns=['Unnamed: 0'], inplace=True)
opgg_df.head()

,summonerName,Champion,Win,Loss,Games,Win Rate,KDA,K,D,A,...,CS/min,Gold,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill
0,Hide on bush,LeBlanc,38,29,67,57,4.15,6.5,3.0,6.1,...,7.6,11027,22,7,105577,17692,43,8,0,0
1,Hide on bush,Sett,45,20,65,69,3.91,4.7,2.9,6.5,...,7.4,10872,13,7,114469,24264,29,3,0,0
2,Hide on bush,Sylas,27,35,62,44,2.68,5.9,4.5,6.2,...,7.7,11784,16,11,131697,26902,39,5,1,0
3,Hide on bush,Zoe,32,29,61,52,4.35,6.0,3.0,7.3,...,7.7,11884,19,8,140932,13991,31,3,1,0
4,Hide on bush,Lucian,28,18,46,61,2.61,4.9,3.9,5.3,...,8.7,11525,13,8,143392,16434,21,2,1,0

In [263]:
champ_key_df = pd.read_csv('./data/champ_key_10.15.1.csv')
champ_key_df.rename(columns={'name':'Champion',
                            'key':'championId'},
                   inplace=True)
champ_key_df.head()

   championId      Champion
0           1         Annie
1           2          Olaf
2           3         Galio
3           4  Twisted Fate
4           5      Xin Zhao

In [264]:
opgg_df = pd.merge(opgg_df, champ_key_df, on='Champion', how='left')
opgg_df.to_csv('./data/opgg_ch_to_dia_cleansed.csv')
opgg_df.head()

,summonerName,Champion,Win,Loss,Games,Win Rate,KDA,K,D,A,...,Gold,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill,championId
0,Hide on bush,LeBlanc,38,29,67,57,4.15,6.5,3.0,6.1,...,11027,22,7,105577,17692,43,8,0,0,7
1,Hide on bush,Sett,45,20,65,69,3.91,4.7,2.9,6.5,...,10872,13,7,114469,24264,29,3,0,0,875
2,Hide on bush,Sylas,27,35,62,44,2.68,5.9,4.5,6.2,...,11784,16,11,131697,26902,39,5,1,0,517
3,Hide on bush,Zoe,32,29,61,52,4.35,6.0,3.0,7.3,...,11884,19,8,140932,13991,31,3,1,0,142
4,Hide on bush,Lucian,28,18,46,61,2.61,4.9,3.9,5.3,...,11525,13,8,143392,16434,21,2,1,0,236

# 4. MATCH 데이터와 소환사 데이터 merge 하기

## match 데이터 불러오기

In [292]:
matches_df = pd.read_csv('./data/matches.csv')
matches_df.drop(columns=['Unnamed: 0'], inplace=True)

for team in [1,2]:
    for summoner in range(1,6):
#         matches_df['team{0}_{1}_key'.format(team, summoner)] = '(' + matches_df['team{0}_{1}_summonerName'.format(team, summoner)] + ',' +  matches_df['team{0}_{1}_championId'.format(team, summoner)].apply(lambda x: str(x)) + ')
        matches_df['team{0}_{1}_key'.format(team, summoner)] = matches_df['team{0}_{1}_summonerName'.format(team, summoner)] + ':' +  matches_df['team{0}_{1}_championId'.format(team, summoner)].apply(lambda x: str(x))

print('전체 데이터:         ', len(matches_df))

전체 데이터:          23972

## 소환사의 협곡 데이터만 걸러내기

In [293]:
classic_matches_df = matches_df.loc[matches_df['gameMode'] == 'CLASSIC']
print('소환사의 협곡 데이터: ', len(classic_matches_df))

classic_matches_df.tail()

소환사의 협곡 데이터:  19622

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,platformId,queueId,seasonId,...,team1_1_key,team1_2_key,team1_3_key,team1_4_key,team1_5_key,team2_1_key,team2_2_key,team2_3_key,team2_4_key,team2_5_key
23964,1595694705273,1832,4531210491,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,430,13,...,말 링:81,밈 쮸:267,MingQiXuan:104,나는탑만가:2,불살생:80,성동일:202,WATO Yoooooni:106,후 릅:63,At one burst:28,빵 대:4
23966,1594621791020,1032,4506044677,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,아니진짜아니이게그게아니라요아니:104,EDG DEFT:4,squareHam:111,호에도:145,54675358765498:54,유나씨:45,zl존폭풍간zl:81,3gangGG:429,TES KillingLove:875,later Oh 998:106
23968,1595161089428,1167,4518103304,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,Mon1ca:412,ND13:266,LOOK ME IV5:51,우진이 너무잘해:142,bu xiang nu li:30,샤코잘하는사람:35,gganknam:516,Noob Sup:16,buzaigufu:81,duokebei:105
23969,1596103946498,1750,4541434127,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,420,13,...,Bon vie:245,참고 견디는 사람:114,참회함죄송합니다:236,선호조아:81,외쳐주유소갓라카:16,BARDKlNG:117,골이아픈오리:22,더기 김경덕:107,헤라클레스1:113,zhengqu:517
23971,1592839853581,1022,4464363796,CLASSIC,MATCHED_GAME,10.12.325.6222,11,KR,420,13,...,찬히루:517,워윅에미친놈:19,FlND TEAM:106,꿈도전자:21,Crowded Places:350,kangggg:127,스위트:53,짜증내면차단:51,맨날억울하네:57,Present22:64

## 소환사 ID로 소환사 이름 새로 매칭하기

닉네임 작작 좀 바꿔...

In [295]:
for col in classic_matches_df.columns:
    if 'team1_1' in col:
        print(col)

team1_1_championId
team1_1_spell1Id
team1_1_spell2Id
team1_1_accountId
team1_1_summonerName
team1_1_summonerId
team1_1_lane
team1_1_role
team1_1_key

In [304]:
ch_to_dia_df = pd.read_csv('./data/ch_to_dia.csv')
ch_to_dia_df.drop(columns=['Unnamed: 0'], inplace=True)
ch_to_dia_df = ch_to_dia_df[['summonerName', 'summonerId', 'tier', 'rank', 'wins', 'losses',
                            'leagueId', 'leaguePoints', 'queueType', 'veteran', 
                            'freshBlood', 'hotStreak', 'inactive', 
                             'miniSeries.wins', 'miniSeries.losses', 'miniSeries.progress', 'miniSeries.target']]
ch_to_dia_df.head()

,summonerName,summonerId,tier,rank,wins,losses,leagueId,leaguePoints,queueType,veteran,freshBlood,hotStreak,inactive,miniSeries.wins,miniSeries.losses,miniSeries.progress,miniSeries.target
0,Hide on bush,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,NaN,I,393,352,NaN,891,NaN,True,False,False,False,NaN,NaN,NaN,NaN
1,bugaoxing,cTZCWU4ltosn-4hyXRtYEF7Luul52JQG7Zu3Ht9vBS9q4LM,NaN,I,319,276,NaN,794,NaN,True,False,True,False,NaN,NaN,NaN,NaN
2,I still remember,Mj3QDYNOBaGcyrvEZPUtVs066RWOHKk6tDKXIib3n5Cdfp0,NaN,I,1106,975,NaN,1214,NaN,True,False,False,False,NaN,NaN,NaN,NaN
3,Destiny,W2Umgo0Rdl5kZ_zAPk3YAYi5eUJley95ZYyh3VcxttMfFfo,NaN,I,189,183,NaN,1083,NaN,True,False,False,False,NaN,NaN,NaN,NaN
4,헤이스트에요,kn3GcMLljUTznV4zOtpH8wOvLI03GtmWhPRsS-O0IKxFvS4,NaN,I,541,502,NaN,742,NaN,False,False,False,False,NaN,NaN,NaN,NaN

In [302]:
len(ch_to_dia_df.columns)

16

In [298]:
ch_to_dia_df.columns

Index(['freshBlood', 'hotStreak', 'inactive', 'leagueId', 'leaguePoints',
       'losses', 'miniSeries.losses', 'miniSeries.progress',
       'miniSeries.target', 'miniSeries.wins', 'queueType', 'rank',
       'summonerId', 'summonerName', 'tier', 'veteran', 'wins'],
      dtype='object')

## 소환사별 챔피언 데이터 불러오기

In [268]:
opgg_df = pd.read_csv('./data/opgg_ch_to_dia_cleansed.csv')
opgg_df.drop(columns=['Unnamed: 0'], inplace=True)

# 소환사이름:챔피언아이디 로 key 설정
opgg_df['key'] = opgg_df['summonerName'] + ':' + opgg_df['championId'].apply(lambda x: str(x))
opgg_df.head()

700009

,summonerName,Champion,Win,Loss,Games,Win Rate,KDA,K,D,A,...,Max Kills,Max Deaths,Average Damage Dealt,Average Damage Taken,Double Kill,Triple Kill,Quadra Kill,Penta Kill,championId,key
0,Hide on bush,LeBlanc,38,29,67,57,4.15,6.5,3.0,6.1,...,22,7,105577,17692,43,8,0,0,7,Hide on bush:7
1,Hide on bush,Sett,45,20,65,69,3.91,4.7,2.9,6.5,...,13,7,114469,24264,29,3,0,0,875,Hide on bush:875
2,Hide on bush,Sylas,27,35,62,44,2.68,5.9,4.5,6.2,...,16,11,131697,26902,39,5,1,0,517,Hide on bush:517
3,Hide on bush,Zoe,32,29,61,52,4.35,6.0,3.0,7.3,...,19,8,140932,13991,31,3,1,0,142,Hide on bush:142
4,Hide on bush,Lucian,28,18,46,61,2.61,4.9,3.9,5.3,...,13,8,143392,16434,21,2,1,0,236,Hide on bush:236

In [274]:
summoner_champion_properties = ['Games', 'Win Rate', 'KDA']

for team in [1,2]:
    for summoner in range(1,6):
        temp_opgg_df = opgg_df[['key'] + summoner_champion_properties]
        temp_opgg_df.columns = temp_opgg_df.columns.map(lambda x: 'team{0}_{1}_'.format(team, summoner) + x)

        classic_matches_df = pd.merge(classic_matches_df, temp_opgg_df, 
                              left_on='team{0}_{1}_key'.format(team, summoner), 
                              right_on='team{0}_{1}_key'.format(team, summoner), 
                              how='left')
        
# nan 값 처리
#classic_matches_df.dropna(inplace=True)
#print('데이터 수: ', len(classic_matches_df))
#classic_matches_df.to_csv('./data/ch_to_dia_for_train.csv')

In [275]:
classic_matches_df

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,platformId,queueId,seasonId,...,team2_2_KDA,team2_3_Games,team2_3_Win Rate,team2_3_KDA,team2_4_Games,team2_4_Win Rate,team2_4_KDA,team2_5_Games,team2_5_Win Rate,team2_5_KDA
0,1590930683807,966,4419747843,CLASSIC,MATCHED_GAME,10.11.322.2991,11,KR,420,13,...,2.99,14.0,79.0,6.53,184.0,58.0,3.21,NaN,NaN,NaN
1,1590058880980,1226,4396417028,CLASSIC,MATCHED_GAME,10.10.320.3039,11,KR,420,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0,65.0,2.60
2,1593583365162,1802,4481351685,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,440,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1592748605609,1605,4462477317,CLASSIC,MATCHED_GAME,10.12.325.6222,11,KR,420,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,50.0,3.56
4,1591035247840,1890,4422369287,CLASSIC,MATCHED_GAME,10.11.322.2991,11,KR,420,13,...,1.97,NaN,NaN,NaN,10.0,20.0,1.17,1.0,0.0,3.00
5,1596010510872,1314,4539023370,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,420,13,...,2.49,3.0,67.0,2.87,18.0,50.0,2.38,207.0,53.0,2.51
6,1592975909614,1420,4467195917,CLASSIC,MATCHED_GAME,10.13.325.7485,11,KR,420,13,...,NaN,63.0,54.0,2.78,74.0,55.0,2.11,NaN,NaN,NaN
7,1595753272081,2338,4532469773,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,3.71,825.0,52.0,3.10,32.0,56.0,2.60,NaN,NaN,NaN
8,1592389917877,1243,4453564429,CLASSIC,MATCHED_GAME,10.12.324.5925,11,KR,420,13,...,NaN,57.0,56.0,2.51,772.0,53.0,2.63,NaN,NaN,NaN
9,1589910251463,1064,4393009167,CLASSIC,MATCHED_GAME,10.10.320.3039,11,KR,420,13,...,NaN,103.0,55.0,3.87,96.0,63.0,2.24,218.0,59.0,2.99
10,1589645443813,1064,4385406993,CLASSIC,MATCHED_GAME,10.10.320.3039,11,KR,420,13,...,NaN,471.0,54.0,2.97,NaN,NaN,NaN,NaN,NaN,NaN
11,1589433449689,1146,4378591254,CLASSIC,MATCHED_GAME,10.10.320.3039,11,KR,420,13,...,NaN,120.0,55.0,2.35,17.0,41.0,1.50,NaN,NaN,NaN
12,1595846298650,977,4535091223,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,430,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1595093179666,1539,4516479000,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,3.04,11.0,55.0,2.50,106.0,60.0,3.03,10.0,60.0,3.13
14,1592998439079,1758,4467720218,CLASSIC,MATCHED_GAME,10.13.325.7485,11,KR,420,13,...,2.91,NaN,NaN,NaN,257.0,47.0,2.29,44.0,43.0,2.43
15,1595592740426,1856,4527751194,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,4.17,NaN,NaN,NaN,195.0,51.0,2.00,NaN,NaN,NaN
16,1595592740426,1856,4527751194,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,4.17,NaN,NaN,NaN,195.0,51.0,2.00,NaN,NaN,NaN
17,1595259386597,1691,4520149020,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.45,440.0,54.0,2.27,937.0,54.0,2.60,198.0,63.0,2.58
18,1595106709620,1735,4516741149,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.59,NaN,NaN,NaN,16.0,50.0,2.91,9.0,56.0,2.91
19,1595106709620,1735,4516741149,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.59,NaN,NaN,NaN,16.0,50.0,2.91,9.0,56.0,2.91
20,1595353201108,1365,4522246169,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.51,59.0,49.0,2.55,417.0,55.0,3.24,NaN,NaN,NaN
21,1595353201108,1365,4522246169,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.51,59.0,49.0,2.55,417.0,55.0,3.24,NaN,NaN,NaN
22,1594987906065,1355,4513595424,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,3.62,28.0,57.0,1.84,NaN,NaN,NaN,NaN,NaN,NaN
23,1592400991958,945,4453826593,CLASSIC,MATCHED_GAME,10.12.324.5925,11,KR,420,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1592457302464,1356,4454875169,CLASSIC,MATCHED_GAME,10.12.325.3360,11,KR,420,13,...,NaN,NaN,NaN,NaN,26.0,73.0,2.39,368.0,49.0,2.50
25,1596010542732,1363,4539023399,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,420,13,...,4.31,26.0,77.0,5.71,47.0,55.0,3.18,NaN,NaN,NaN
26,1593013341950,2476,4468506665,CLASSIC,MATCHED_GAME,10.13.325.7485,11,KR,430,13,...,2.89,1.0,100.0,7.00,NaN,NaN,NaN,NaN,NaN,NaN
27,1591763634187,194,4438622259,CLASSIC,MATCHED_GAME,10.12.323.8771,11,KR,420,13,...,NaN,NaN,NaN,NaN,29.0,48.0,3.04,195.0,51.0,2.39
28,1596046761577,1251,4540334133,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,420,13,...,NaN,16.0,75.0,3.16,5.0,40.0,1.67,655.0,54.0,3.13
29,1594821309774,942,4510449718,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,NaN,NaN,NaN,NaN,48.0,52.0,3.02,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19890,1592766771528,922,4462789196,CLASSIC,MATCHED_GAME,10.12.325.6222,11,KR,420,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19891,1592766771528,922,4462789196,CLASSIC,MATCHED_GAME,10.12.325.6222,11,KR,420,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19892,1593698518155,1410,4484022856,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,420,13,...,NaN,63.0,59.0,2.37,262.0,51.0,1.86,1372.0,52.0,2.88
19893,1593698518155,1410,4484022856,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,420,13,...,NaN,63.0,59.0,2.37,262.0,51.0,1.86,1372.0,52.0,2.88
19894,1594787093139,1767,4509450831,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.33,6.0,67.0,3.56,31.0,71.0,5.79,754.0,57.0,3.99
19895,1594196777379,1216,4495819340,CLASSIC,MATCHED_GAME,10.14.327.1684,11,KR,420,13,...,NaN,45.0,78.0,3.73,94.0,51.0,2.97,64.0,64.0,3.32
19896,1592409721793,860,4454400597,CLASSIC,MATCHED_GAME,10.12.324.5925,11,KR,420,13,...,2.38,56.0,46.0,2.60,NaN,NaN,NaN,127.0,55.0,3.59
19897,1596062453747,1146,4540383833,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,420,13,...,2.16,167.0,46.0,2.27,212.0,52.0,3.39,13.0,62.0,2.64
19898,1593777150652,1689,4485595738,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,420,13,...,NaN,981.0,52.0,2.07,NaN,NaN,NaN,151.0,59.0,2.93
19899,1593588786353,1571,4481663579,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,420,13,...,1.65,NaN,NaN,NaN,97.0,49.0,2.03,65.0,49.0,2.45
19900,1595986715524,926,4538286681,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,420,13,...,1.86,225.0,53.0,2.52,21.0,43.0,2.78,17.0,65.0,2.63
19901,1596113811919,1315,4541694559,CLASSIC,MATCHED_GAME,10.15.330.344,11,KR,430,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19902,1594491176789,1839,4503159393,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,4.42,56.0,54.0,2.55,67.0,66.0,3.75,18.0,67.0,3.27
19903,1594835255053,1017,4510761570,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,2.49,NaN,NaN,NaN,26.0,73.0,3.63,223.0,54.0,3.51
19904,1595826508915,1135,4534354533,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,NaN,105.0,62.0,2.72,197.0,52.0,2.20,98.0,51.0,2.30
19905,1594824114206,1657,4510499431,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,3.74,NaN,NaN,NaN,190.0,54.0,2.85,13.0,77.0,2.03
19906,1595826579024,1292,4534354542,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,3.69,NaN,NaN,NaN,63.0,67.0,2.72,168.0,51.0,3.40
19907,1595914523640,1887,4536189552,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,3.05,146.0,49.0,2.71,11.0,36.0,1.69,NaN,NaN,NaN
19908,1595427821977,1842,4523868790,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,NaN,NaN,NaN,NaN,75.0,63.0,2.65,NaN,NaN,NaN
19909,1592933058608,1307,4466459259,CLASSIC,MATCHED_GAME,10.12.325.6222,11,KR,420,13,...,NaN,39.0,54.0,3.61,105.0,64.0,3.07,13.0,23.0,1.00
19910,1594659268501,1536,4507353727,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,NaN,2.0,50.0,2.11,132.0,49.0,2.65,223.0,54.0,3.51
19911,1593402355112,2181,4477469313,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,430,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19912,1590062532379,1305,4396728964,CLASSIC,MATCHED_GAME,10.10.320.3039,11,KR,420,13,...,NaN,387.0,56.0,3.51,NaN,NaN,NaN,138.0,59.0,2.98
19913,1592933097668,1971,4466459268,CLASSIC,MATCHED_GAME,10.12.325.6222,11,KR,420,13,...,NaN,171.0,53.0,2.58,NaN,NaN,NaN,98.0,62.0,3.79
19914,1594541372539,1196,4504208004,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,3.99,NaN,NaN,NaN,49.0,63.0,4.64,NaN,NaN,NaN
19915,1594059548161,984,4492935815,CLASSIC,MATCHED_GAME,10.13.326.4870,11,KR,420,13,...,NaN,NaN,NaN,NaN,26.0,58.0,3.39,7.0,29.0,2.09
19916,1593064725546,1216,4469080708,CLASSIC,MATCHED_GAME,10.13.325.7485,11,KR,420,13,...,2.78,19.0,47.0,3.28,32.0,50.0,2.65,NaN,NaN,NaN
19917,1595883242078,967,4535927433,CLASSIC,MATCHED_GAME,10.15.328.8759,11,KR,420,13,...,4.54,238.0,53.0,2.18,5.0,40.0,2.00,NaN,NaN,NaN
19918,1590133288730,1414,4398563978,CLASSIC,MATCHED_GAME,10.10.320.3039,11,KR,420,13,...,1.89,118.0,49.0,2.94,361.0,55.0,3.27,127.0,69.0,3.80
19919,1594272719401,1333,4497392261,CLASSIC,MATCHED_GAME,10.14.327.8505,11,KR,420,13,...,3.23,NaN,NaN,NaN,124.0,46.0,3.45,49.0,37.0,2.20

In [280]:
classic_matches_df.loc[19915]

gameCreation                                                1594059548161
gameDuration                                                          984
gameId                                                         4492935815
gameMode                                                          CLASSIC
gameType                                                     MATCHED_GAME
gameVersion                                                10.13.326.4870
mapId                                                                  11
platformId                                                             KR
queueId                                                               420
seasonId                                                               13
win                                                                 team1
team1_1_championId                                                    104
team1_1_spell1Id                                                        4
team1_1_spell2Id                                                       11
team1_1_accountId       fWJtn8N13FbaiZkayK-5l7cmKjRwfepJ6BsLIn0Gv6PDl5...
team1_1_summonerName                                                PPG0d
team1_1_summonerId        BOf0JcPWB-HRvT2x6-1HhfVJqc4290N32wNGxNdzvxAAzDI
team1_1_lane                                                         NONE
team1_1_role                                                  DUO_SUPPORT
team1_2_championId                                                    142
team1_2_spell1Id                                                        4
team1_2_spell2Id                                                       14
team1_2_accountId       IrERBF4a2LvHzX3QMeC5yq2sPcWfD6sosXaXEeBn13F8Gm...
team1_2_summonerName                                     Play Game NoLove
team1_2_summonerId        ojRlXpt7x2NrM2L_dGs-1uAt1rSdKLLcM8hUMgF1aU3bXrc
team1_2_lane                                                         NONE
team1_2_role                                                  DUO_SUPPORT
team1_3_championId                                                      2
team1_3_spell1Id                                                        4
team1_3_spell2Id                                                       12
                                              ...
team1_1_Games                                                         NaN
team1_1_Win Rate                                                      NaN
team1_1_KDA                                                           NaN
team1_2_Games                                                         NaN
team1_2_Win Rate                                                      NaN
team1_2_KDA                                                           NaN
team1_3_Games                                                         NaN
team1_3_Win Rate                                                      NaN
team1_3_KDA                                                           NaN
team1_4_Games                                                           1
team1_4_Win Rate                                                      100
team1_4_KDA                                                             3
team1_5_Games                                                          58
team1_5_Win Rate                                                       57
team1_5_KDA                                                          2.79
team2_1_Games                                                         NaN
team2_1_Win Rate                                                      NaN
team2_1_KDA                                                           NaN
team2_2_Games                                                         NaN
team2_2_Win Rate                                                      NaN
team2_2_KDA                                                           NaN
team2_3_Games                                                         NaN
team2_3_Win Rate                                                      NaN
team2_3_KDA                                                           NaN
team2_4_Games                                                          26
team2_4_Win Rate                                                       58
team2_4_KDA                                                          3.39
team2_5_Games                                                           7
team2_5_Win Rate                                                       29
team2_5_KDA                                                          2.09
Name: 19915, Length: 131, dtype: object

In [281]:
classic_matches_df.loc[19915].team1_1_summonerName

'PPG0d'