상혁이 솔랭운은 티원 팬들 사이에서 겁나 유명.. 요즘 매 경기 관전하다보면 진짜 ㄹㅇ로 운이 없어보임. 일단 지는 경기는 상혁이 때문이 아니라 걍 다 팀원들 때문임. 그렇다면 상혁이 팀원이 터질 확률이 얼마나 높은지 한 번 구해보도록 하자. 

1) 페이커 팀이 퍼블을 당할 확률

2) 페이커 맞라이너와의 골드차 vs 전체 팀 간의 골드 차

In [1]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import requests
import time
import datetime
import regex

import warnings
warnings.filterwarnings(action='ignore')

## 솔랭 데이터 수집

In [2]:
url = 'https://kr.api.riotgames.com/'
api_key = 'RGAPI-092eff46-a388-4fc4-9d56-32685e663ca0'
api = '?api_key='+api_key

### 수집할 선수들 목록

In [5]:
T1 = ['Hide on bush', 'T1 Roach', '칸 나', 'Aprox', 'T1 Cuzz', '엘 림', 'T1 Ellim',
      'T1 Closer', 'Teddy12345', 'T1 Gumayusi', '게복치숟가락', '롤오브레전드1234', 'T1 SoKuri']
DRX = ['모찌피치모찌피치', '윤소공원', 'DRX 홍창현', '요붕스1', 'DRX Deft', '3shotspop']
GenG = ['Gen G Rascal', 'Gen G Clid', '아진짜너무졸려', 'Gen G Ruler', '곽곽보성', 'Gen G Kellin', '댕청잇']
DAMWON = ['Lv 1 너구리', 'JUGKING', 'DWG Canyon', 'showmakerzzz', 'DWG ShowMaker',
         'DWG Ghost', 'DWG BeryL']
LPL_MID = ['Heart', '모두건강하게', 'knightzz']

player_list = T1 + DRX + GenG + DAMWON + LPL_MID

### summoner data

In [6]:
player_df = pd.DataFrame()

for player in player_list:
    req = requests.get(url + 'lol/summoner/v4/summoners/by-name/' + player + api)
    temp_df = json_normalize(req.json())
    player_df = player_df.append(temp_df, ignore_index=True)
    
player_df = player_df[['name', 'summonerLevel', 'id', 'accountId', 'puuid', 'revisionDate']]
player_df.set_index('name', inplace=True)
player_df.head()

,summonerLevel,id,accountId,puuid,revisionDate
name,,,,,
Hide on bush,346,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,eE5ozQiaIs4T0TASXyXDhDuGr9dEhVlNS38SsbdTF_OS,oPOyGyUz_uJXhLprcvg33kkt5qO6hGB6Ywk_WXWEr2AWPl...,1598907859000
T1 Roach,427,gKPnm3JlP2-gMlQOOhHofUNKZ9Joc7FFE2uDf9HwsZzqmA,-ycprNHCSs3hwYC6zdZAyKzEKLwyDT4zSC-R81fshpVB,c1D_BytSFZTNcbdjQPkfqw8dMg3BJx30bTzNdy_G_UtVCK...,1599304395000
칸 나,303,NKyiMiP5ZNX9kSRnGqFFWKpRap70X4kmX-5Y_uQlIjfXBSs,hlkqBG5BcYDj0zArEXjVxr_v5-Cg6VS_nmLw63_FC49U5J...,lnbTsxWrH21qk4mm02Zt6redNi6pL3i8d85IDfqIyycpY7...,1598907859000
Aprox,104,vOrMD7qUE_hc6Map7a-p58UjbqdKuKTyZZyVXxeki2ggdj8,rNw2LOrhwaSPICvXNJmbnXRyoAn0W10hpY5w7aGPe_r0ls4,cUjXv45jW6V76HChgRh7vsitx-E5jbHnU8j5_k1K-QlrD0...,1599200335000
T1 Cuzz,187,BsLTtstzZTlurMUdO_Q6OWhPu7-icNcdVPRAOsvatY5YtQk,-QBqBYVIeDy0RAVHSu1ilVcUO8lVfZkiI18rMyVpFYqcDAA,du3Jz6KPc857PolyZWfzKlp3r0S0fCyhjimNFCko_zsMUa...,1599303502000

### summoner match data

In [8]:
#각 Player 별 match list
time.sleep(120)
player_df['match_list'] = ''

for index in player_df.index:
    ai = player_df.loc[index]['accountId']
    matches_req = requests.get(url + 'lol/match/v4/matchlists/by-account/' + ai + api)
    matches_df = json_normalize(matches_req.json()['matches'])
    
    #소환사의 협곡 솔랭만 골라내기
    match_list = matches_df.loc[matches_df['queue'] == 420]['gameId'].values
    player_df.at[index, 'match_list'] = match_list.tolist()

In [9]:
player_df.head(3)

,summonerLevel,id,accountId,puuid,revisionDate,match_list
name,,,,,,
Hide on bush,346,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,eE5ozQiaIs4T0TASXyXDhDuGr9dEhVlNS38SsbdTF_OS,oPOyGyUz_uJXhLprcvg33kkt5qO6hGB6Ywk_WXWEr2AWPl...,1598907859000,"[4626299944, 4626199865, 4626221231, 462387033..."
T1 Roach,427,gKPnm3JlP2-gMlQOOhHofUNKZ9Joc7FFE2uDf9HwsZzqmA,-ycprNHCSs3hwYC6zdZAyKzEKLwyDT4zSC-R81fshpVB,c1D_BytSFZTNcbdjQPkfqw8dMg3BJx30bTzNdy_G_UtVCK...,1599304395000,"[4626449703, 4626465639, 4626368398, 462631087..."
칸 나,303,NKyiMiP5ZNX9kSRnGqFFWKpRap70X4kmX-5Y_uQlIjfXBSs,hlkqBG5BcYDj0zArEXjVxr_v5-Cg6VS_nmLw63_FC49U5J...,lnbTsxWrH21qk4mm02Zt6redNi6pL3i8d85IDfqIyycpY7...,1598907859000,"[4626397044, 4626470054, 4626342948, 462623442..."

In [10]:
# 각 Player 별 match 세부 데이터

matches_df = pd.DataFrame()

#number of players
n_player = len(player_df)
#player number
pn = 0

In [11]:
rn = 0
while (pn < n_player):
    
    #player's summoner name
    player = player_df.iloc[pn].name
    #player's match list
    match_list = player_df.loc[player]['match_list']
    
    #number of matches
    n_match = len(match_list)
    #match number
    mn = 0
    
    while(mn < n_match):
        match_id = match_list[mn]
        
        #riot api는 2분에 100개의 요청만 accept 함
        try:            
            req = requests.get(url + 'lol/match/v4/matches/' + str(match_id) + api)
            match_df = json_normalize(req.json())
            match_df['summonerName'] = player
            
            teams_df = json_normalize(match_df['teams'][0])
    
            ptcp_df = json_normalize(match_df['participants'][0])
            ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('stats.', '')
            ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('timeline.', '')
            ptcp_df = ptcp_df.loc[:, ~ptcp_df.columns.duplicated()]
            participants_delete_list = ['killingSprees', 'doubleKills', 'tripleKills', 
                                       'quadraKills', 'pentaKills', 'combatPlayerScore', 'objectivePlayerScore', 
                                       'totalPlayerScore', 'totalScoreRank', 'role', 'lane']
            for i in range(10):
                participants_delete_list.append('playerScore'+str(i))
            ptcp_df = ptcp_df[ptcp_df.columns.drop(participants_delete_list)]
            ptcp_df = ptcp_df[ptcp_df.columns.drop(list(ptcp_df.filter(regex='Diff')))]

            ptcp_idt_df = json_normalize(match_df['participantIdentities'][0])
            ptcp_idt_df.columns = ptcp_idt_df.columns.str.strip().str.replace('player.', '')
            ptcp_idt_df = ptcp_idt_df[ptcp_idt_df.columns.drop(['platformId', 'currentPlatformId',
                                                                'matchHistoryUri', 'profileIcon'])]

            ptcp_df = pd.merge(ptcp_df, ptcp_idt_df, on='participantId')

            df = match_df[['gameId', 'gameCreation', 'gameDuration', 'queueId', 'mapId', 
                       'seasonId', 'gameVersion', 'gameMode', 'gameType', 'summonerName']]
            df = pd.merge(df, ptcp_df, on='summonerName', how='left')
            df = pd.merge(df, teams_df[['teamId', 'firstBlood']], on='teamId', how='left')

            matches_df = matches_df.append(df, ignore_index=True)
            mn = mn+1
            
        except Exception as e:
            if req.status_code == 405 or req.status_code == 403:
                print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), req.status_code))
                pass
            else:
                print('{0}   {1} '.format(datetime.datetime.now().strftime("%H:%M:%S"), e))
                time.sleep(5)
                continue
                
        rn = rn+1
        
        if (rn%100) == 0:
            print('{0}   {1:5d}: {2} {3}'.format(datetime.datetime.now().strftime("%H:%M:%S"), rn, player, match_id))
            matches_df.to_csv('./data/lucky_score_matches_cleansed.csv')
            time.sleep(120)
            
    pn = pn+1

12:25:55   'teams'
12:26:01   'teams'
12:26:06   'teams'
12:26:11   'teams'
12:26:16   'teams'
12:26:21   'teams'
12:26:27   'teams'
12:26:32   'teams'
12:26:37   'teams'
12:26:42   'teams'
12:26:47   'teams'
12:26:53   'teams'
12:26:58   'teams'
12:27:03   'teams'
12:27:08   'teams'
12:27:13   'teams'
12:27:25   'teams'
12:27:38     100: Hide on bush 4590668234
12:30:15     200: 칸 나 4626234429
12:32:53     300: Aprox 4610407795
12:35:33     400: T1 Cuzz 4623824557
12:38:11     500: 엘 림 4619213662
12:40:49     600: T1 Ellim 4610308121
12:43:29     700: T1 Closer 4619803660
12:46:07     800: Teddy12345 4621352633
12:48:47     900: T1 Gumayusi 4599386785
12:51:26    1000: 게복치 숟가락 4615892565
12:54:04    1100: 롤오브레전드1234 4592762251
12:56:43    1200: T1 SoKuri 4619091676
12:58:52   'teams'
12:59:32   'teams'
12:59:37   'teams'
12:59:42   'teams'
12:59:48   'teams'
12:59:53   'teams'
12:59:58   'teams'
13:00:03   'teams'
13:00:09   'teams'
13:00:14   'teams'
13:00:19   'teams'
13:00:24   'teams'
13:00:29   'teams'
13:00:35   'teams'
13:00:40   'teams'
13:00:45    1300: 모찌피치모찌피치 4586904588
13:03:02   'teams'
13:03:29   'teams'
13:03:34   'teams'
13:03:39   'teams'
13:03:44   'teams'
13:03:50   'teams'
13:03:55   'teams'
13:04:00   'teams'
13:04:05   'teams'
13:04:10   'teams'
13:04:15   'teams'
13:04:21   'teams'
13:04:26   'teams'
13:04:31   'teams'
13:04:36   'teams'
13:04:41   'teams'
13:04:47    1400: 윤소공원 4612639610
13:07:26    1500: DRX 홍창현 4606556931
13:10:09    1600: 요붕스1 4606753588
13:12:50    1700: DRX Deft 4605816242
13:15:27   'teams'
13:15:32   'teams'
13:15:38   'teams'
13:15:43   'teams'
13:15:48   'teams'
13:15:53   'teams'
13:15:58   'teams'
13:16:04   'teams'
13:16:09   'teams'
13:16:14   'teams'
13:16:19   'teams'
13:16:24   'teams'
13:16:30   'teams'
13:16:35   'teams'
13:16:40   'teams'
13:16:45   'teams'
13:16:53    1800: 3shotspop 4601388678
13:19:35    1900: Gen G Rascal 4606335526
13:22:16    2000: Gen G Clid 4610269500
13:24:57    2100: 아진짜너무졸려 4588769824
13:27:37    2200: Gen G Ruler 4603619627
13:30:15    2300: 곽곽보성 4568619165
13:32:54    2400: Gen G Kellin 4569250981
13:35:11   'teams'
13:35:40   'teams'
13:35:45   'teams'
13:35:50   'teams'
13:35:55   'teams'
13:36:00   'teams'
13:36:06   'teams'
13:36:11   'teams'
13:36:16   'teams'
13:36:21   'teams'
13:36:26   'teams'
13:36:32   'teams'
13:36:37   'teams'
13:36:42   'teams'
13:36:47   'teams'
13:36:52   'teams'
13:36:58    2500: 댕청잇 4600676530
13:39:40    2600: Lv 1 너구리 4603468281
13:42:27    2700: jugking 4049228027
13:45:06   'teams'
13:45:18   'teams'
13:45:23   'teams'
13:45:28   'teams'
13:45:33   'teams'
13:45:39   'teams'
13:45:44   'teams'
13:45:49   'teams'
13:45:54   'teams'
13:45:59   'teams'
13:46:05   'teams'
13:46:10   'teams'
13:46:15   'teams'
13:46:20   'teams'
13:46:25   'teams'
13:46:31    2800: DWG Canyon 4585951648
13:49:10    2900: showmakerzzz 4577602838
13:51:50    3000: DWG ShowMaker 4505187330
13:54:32    3100: DWG Ghost 4570757759
13:57:11    3200: Heart 4606314425
13:59:45   'teams'
13:59:57   'teams'
14:00:03   'teams'
14:00:08   'teams'
14:00:13   'teams'
14:00:18   'teams'
14:00:23   'teams'
14:00:29   'teams'
14:00:34   'teams'
14:00:39   'teams'
14:00:44   'teams'
14:00:49   'teams'
14:00:54   'teams'
14:01:00   'teams'
14:01:05   'teams'
14:01:10   'teams'
14:01:15    3300: 모두건강하게 4607883855
14:03:56    3400: knightzz 4618925840

In [233]:
matches_df

,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType,teams,participants,participantIdentities,summonerName
0,4623870331,KR,1599238194662,2323,420,11,13,10.18.333.8889,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",Hide on bush

In [225]:
match_df

,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType,teams,participants,participantIdentities,summonerName
0,4623870331,KR,1599238194662,2323,420,11,13,10.18.333.8889,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':...",Hide on bush

In [105]:
teams_df = json_normalize(match_df['teams'][0])
teams_df.head()

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans
0,100,Fail,True,True,True,True,True,True,9,2,2,4,0,2,0,"[{'championId': 30, 'pickTurn': 1}, {'champion..."
1,200,Win,False,False,False,False,False,False,7,1,1,2,0,0,0,"[{'championId': 164, 'pickTurn': 6}, {'champio..."

In [95]:
bans_df = json_normalize(teams_df['bans'][0])
bans_df.head()

   championId  pickTurn
0          30         1
1         142         2
2          27         3
3          51         4
4           4         5

In [221]:
#column 정리하기
ptcp_df = json_normalize(match_df['participants'][0])

ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('stats.', '')
ptcp_df.columns = ptcp_df.columns.str.strip().str.replace('timeline.', '')
ptcp_df = ptcp_df.loc[:, ~ptcp_df.columns.duplicated()]

participants_delete_list = ['killingSprees', 'doubleKills', 'tripleKills', 
                           'quadraKills', 'pentaKills', 'combatPlayerScore', 'objectivePlayerScore', 
                           'totalPlayerScore', 'totalScoreRank', 'role', 'lane']
for i in range(10):
    participants_delete_list.append('playerScore'+str(i))
    
ptcp_df = ptcp_df[ptcp_df.columns.drop(participants_delete_list)]
ptcp_df = ptcp_df[ptcp_df.columns.drop(list(ptcp_df.filter(regex='Diff')))]

print(ptcp_df.columns)

Index(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'win',
       'item0', 'item1', 'item2', 'item3',
       ...
       'xpPerMinDeltas.30-end', 'xpPerMinDeltas.20-30',
       'goldPerMinDeltas.10-20', 'goldPerMinDeltas.0-10',
       'goldPerMinDeltas.30-end', 'goldPerMinDeltas.20-30',
       'damageTakenPerMinDeltas.10-20', 'damageTakenPerMinDeltas.0-10',
       'damageTakenPerMinDeltas.30-end', 'damageTakenPerMinDeltas.20-30'],
      dtype='object', length=105)

In [222]:
ptcp_idt_df = json_normalize(match_df['participantIdentities'][0])

ptcp_idt_df.columns = ptcp_idt_df.columns.str.strip().str.replace('player.', '')

ptcp_idt_df = ptcp_idt_df[ptcp_idt_df.columns.drop(['platformId', 'currentPlatformId',
                                                    'matchHistoryUri', 'profileIcon'])]

ptcp_idt_df.head(10)

,participantId,accountId,summonerName,summonerId,currentAccountId
0,1,hfsMAyv1ULpmJl6JDO4Szvbt5pJC4wD684aC6Ej_HNmiwcY,나라카일,CniEzWoLCalSDcMubS3S1IOleZU-X7r4-Ra-zCO8KbLqrn8,hfsMAyv1ULpmJl6JDO4Szvbt5pJC4wD684aC6Ej_HNmiwcY
1,2,axCYRsTVyl9b9AN0d5myUWS5IAIWm136eOdZscapqCs12Dw,훈련병 레이닝,fYgxkITszs1IOJol1ZVRiK3BULdqFOSN1E82UBjk_u8JE_c,axCYRsTVyl9b9AN0d5myUWS5IAIWm136eOdZscapqCs12Dw
2,3,9SL1AKETbnyS1jUoCODfWn2vVwvo0eYmPPBX_tH5FjhX4f...,팡팡키키,DPCcNSNfqz3g3UYRquoS7Uv0Bc0OD3AsvY320288pm1cJ78,9SL1AKETbnyS1jUoCODfWn2vVwvo0eYmPPBX_tH5FjhX4f...
3,4,9PI3Fwznv32Vhy16dU78aJKLMCZkCRMCWkXUA8IpgtBm9Ic,BRB Mightybear,wGEe5gZLazSKn9lOOGX-2lxK4cVunsPEnYv7QIu1b2G3l3w,9PI3Fwznv32Vhy16dU78aJKLMCZkCRMCWkXUA8IpgtBm9Ic
4,5,0Ol3om86goy-gq3JsXH5x0P1ai6VPJiNjCyOA2C51i9Jgho,간다라쿤다,ZR2p1OHuWsndeinjgtlT_PCOhrkT8V5MFqspwH36ljv2Sp0,0Ol3om86goy-gq3JsXH5x0P1ai6VPJiNjCyOA2C51i9Jgho
5,6,D9I6dzB3ue8-5Hd4ulm9i2UF5cwfjpyrk3JZFbImXXonw9I,Mocha,823CNcAY19H5DiZZ6f27nYViPik2Du9ZnZpJRlnFPzDB0DQ,D9I6dzB3ue8-5Hd4ulm9i2UF5cwfjpyrk3JZFbImXXonw9I
6,7,LEzRmrjY1CkVM3M_kli3hklngWiY_lC5O9ZB4W6QVum-790,dolcasa,pJToKhFBP8THcHZQte1s94uB7b023WZS0xaR9cZiTjCl-8U,LEzRmrjY1CkVM3M_kli3hklngWiY_lC5O9ZB4W6QVum-790
7,8,7uAxoJna7vNc9tThpIOaI6i0KfUcT7bMVWzP1F-wokENCk0,m0wgli,06x7MMdylAfCimXxI3MzD9FSlDOq0Ehk6ZFQ71EKIOOWu1k,7uAxoJna7vNc9tThpIOaI6i0KfUcT7bMVWzP1F-wokENCk0
8,9,ZvYQwYyJkNmF8PJphG96IcGrH19R3kLDKoCg0MW2Zsy7um...,LeeWangDui,jtuTP7c1jvbsxbYqNK7Mpbmp-xn7t7tvYee3EFxy7McdT0I,ZvYQwYyJkNmF8PJphG96IcGrH19R3kLDKoCg0MW2Zsy7um...
9,10,eE5ozQiaIs4T0TASXyXDhDuGr9dEhVlNS38SsbdTF_OS,Hide on bush,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,eE5ozQiaIs4T0TASXyXDhDuGr9dEhVlNS38SsbdTF_OS

In [223]:
ptcp_df = pd.merge(ptcp_df, ptcp_idt_df, on='participantId')
ptcp_df.head(10)

,participantId,teamId,championId,spell1Id,spell2Id,win,item0,item1,item2,item3,...,goldPerMinDeltas.30-end,goldPerMinDeltas.20-30,damageTakenPerMinDeltas.10-20,damageTakenPerMinDeltas.0-10,damageTakenPerMinDeltas.30-end,damageTakenPerMinDeltas.20-30,accountId,summonerName,summonerId,currentAccountId
0,1,100,238,14,4,False,3142,3033,2055,3814,...,220.2,411.4,604.8,206.5,721.8,721.3,hfsMAyv1ULpmJl6JDO4Szvbt5pJC4wD684aC6Ej_HNmiwcY,나라카일,CniEzWoLCalSDcMubS3S1IOleZU-X7r4-Ra-zCO8KbLqrn8,hfsMAyv1ULpmJl6JDO4Szvbt5pJC4wD684aC6Ej_HNmiwcY
1,2,100,81,7,4,False,3042,3153,3140,3158,...,345.2,489.9,450.4,144.1,788.8,1045.7,axCYRsTVyl9b9AN0d5myUWS5IAIWm136eOdZscapqCs12Dw,훈련병 레이닝,fYgxkITszs1IOJol1ZVRiK3BULdqFOSN1E82UBjk_u8JE_c,axCYRsTVyl9b9AN0d5myUWS5IAIWm136eOdZscapqCs12Dw
2,3,100,412,3,4,False,3107,3860,3222,2065,...,214.2,329.9,261.5,94.6,1022.2,1041.0,9SL1AKETbnyS1jUoCODfWn2vVwvo0eYmPPBX_tH5FjhX4f...,팡팡키키,DPCcNSNfqz3g3UYRquoS7Uv0Bc0OD3AsvY320288pm1cJ78,9SL1AKETbnyS1jUoCODfWn2vVwvo0eYmPPBX_tH5FjhX4f...
3,4,100,60,11,4,False,3157,2421,2055,3165,...,207.2,297.4,558.4,498.7,980.4,1060.7,9PI3Fwznv32Vhy16dU78aJKLMCZkCRMCWkXUA8IpgtBm9Ic,BRB Mightybear,wGEe5gZLazSKn9lOOGX-2lxK4cVunsPEnYv7QIu1b2G3l3w,9PI3Fwznv32Vhy16dU78aJKLMCZkCRMCWkXUA8IpgtBm9Ic
4,5,100,236,12,4,False,3153,3031,3006,3139,...,547.4,579.1,276.7,275.3,981.2,728.4,0Ol3om86goy-gq3JsXH5x0P1ai6VPJiNjCyOA2C51i9Jgho,간다라쿤다,ZR2p1OHuWsndeinjgtlT_PCOhrkT8V5MFqspwH36ljv2Sp0,0Ol3om86goy-gq3JsXH5x0P1ai6VPJiNjCyOA2C51i9Jgho
5,6,200,53,14,4,True,3800,3857,3193,0,...,272.8,178.2,579.5,327.6,460.2,1202.5,D9I6dzB3ue8-5Hd4ulm9i2UF5cwfjpyrk3JZFbImXXonw9I,Mocha,823CNcAY19H5DiZZ6f27nYViPik2Du9ZnZpJRlnFPzDB0DQ,D9I6dzB3ue8-5Hd4ulm9i2UF5cwfjpyrk3JZFbImXXonw9I
6,7,200,133,14,4,True,1001,3814,0,3095,...,292.2,427.9,206.5,272.1,958.6,801.8,LEzRmrjY1CkVM3M_kli3hklngWiY_lC5O9ZB4W6QVum-790,dolcasa,pJToKhFBP8THcHZQte1s94uB7b023WZS0xaR9cZiTjCl-8U,LEzRmrjY1CkVM3M_kli3hklngWiY_lC5O9ZB4W6QVum-790
7,8,200,202,7,4,True,3814,3142,3094,3047,...,350.0,412.1,628.9,262.8,841.8,1006.2,7uAxoJna7vNc9tThpIOaI6i0KfUcT7bMVWzP1F-wokENCk0,m0wgli,06x7MMdylAfCimXxI3MzD9FSlDOq0Ehk6ZFQ71EKIOOWu1k,7uAxoJna7vNc9tThpIOaI6i0KfUcT7bMVWzP1F-wokENCk0
8,9,200,876,4,11,True,1414,3047,2421,3151,...,388.6,290.8,712.8,691.8,990.8,1343.6,ZvYQwYyJkNmF8PJphG96IcGrH19R3kLDKoCg0MW2Zsy7um...,LeeWangDui,jtuTP7c1jvbsxbYqNK7Mpbmp-xn7t7tvYee3EFxy7McdT0I,ZvYQwYyJkNmF8PJphG96IcGrH19R3kLDKoCg0MW2Zsy7um...
9,10,200,69,1,4,True,3040,3157,3135,3089,...,857.4,629.2,435.8,321.4,1635.2,1540.9,eE5ozQiaIs4T0TASXyXDhDuGr9dEhVlNS38SsbdTF_OS,Hide on bush,04E81p_9PA-iPR8e4m1ZsU0Jo8ZsjDNJXJf-KZ3q1dg8Gg,eE5ozQiaIs4T0TASXyXDhDuGr9dEhVlNS38SsbdTF_OS